<!--<div ng-init="edtme=!imgSrc" style="background:url('{{imgSrc}}'); width:100%; height:630px; background-size:cover;">--!>
<div style="background:url('{{imgSrc}}') no-repeat; background-size:{{contain}}; width:{{dims.w}}px; height:{{dims.h}}px">
    <i ng-show="edt" class="fa fa-pencil" ng-click="pencilClick()" ng-init="edtme=false"></i>
    <label ng-show="edt && edtme">{{lab}}</label>
</div>
