<div class="editWrap" ng-show="edt && edtme">
    <div class="buttonWrap">
        <button class="coolButton edit" ng-click="save()"><i class="fa fa-check"></i><span>Save</span></button>
    </div>
    <div files></div>
</div>
