<div ng-init="edtme=!imgSrc">
    <i class="fa fa-pencil" ng-click="edtme=!edtme"></i>
    <label ng-show="edt && edtme">{{lab}}</label>
    <img ng-src="{{imgSrc}}"></img>
    <div ng-show="edt && edtme" files></div>
</div>
