<div ng-init="edtme=false">
    <i class="fa fa-close" ng-click="stopSlide()"></i>
    <i ng-show="edt" class="fa fa-pencil" ng-click="pencilClick()"></i>
    <label ng-show="edt && edtme">{{lab}}</label>
    <slide ng-if="!byImg" class="slide" ng-repeat="(uid, path) in imgList"
            style="background-image:url({{path.file}})"
            ng-click="jump()"
    ></slide>
    <slide ng-if="byImg" class="slide" ng-repeat="(uid, path) in imgList" ng-click="jump()">
        <img ng-src="{{path.file}}" alt="{{path.alt}}"></img>
    </slide>
</div>
