<div class="editWrap" ng-show="edt && edtme">
    <div files></div>
    <div class="loop">
        <label>Loop Period (seconds):</label>
        <input type="text" ng-model="loopPeriod"></input>
    </div>
</div>
