<div ng-init="edtme=false">
    <i ng-show="edt" class="fa fa-pencil" ng-click="edtme=!edtme"></i>
    <label ng-show="edt && edtme">{{lab}}</label>
    <div class="slide" ng-class="uid==current|checkActive" ng-repeat="(uid, path) in imgList" 
            style="background-image:url({{path}})"
            ng-click="jump()"
    ></div>
    <div class="editWrap" ng-show="edt && edtme">
        <div files></div>
        <div class="loop">
            <label>Loop Period (seconds):</label>
            <input type="text" ng-model="loopPeriod"></input>
        </div>
    </div>
</div>
