<div>
    <div class="row header" ng-if="!inReorder">
        <label>Header</label>
        <input type="text" ng-model="cont.header"></input>
    </div>
    
    <div ng-if="!inReorder">
        <ul class="eachLink">
            <li class="row">
                <label class="lab">Link Text</label>
                <label class="url">URL</label>
            </li >
            <li class="row" ng-repeat="(i, link) in cont.links">
                <!--<label>Link Text</label>--!>
                <input type="text" ng-model="link.linkText" class="lab"></input>

               <!-- <label>URL</label>--!>
                <input type="text" ng-model="link.link" class="url"></input>
                <i class="fa fa-trash" ng-click="delLink(i)"></i>
            </li>
        </ul>
    </div>

    <div ng-if="inReorder" sv-handle>
        <div sv-root sv-part="cont.links">
            <button ng-repeat="(i, link) in cont.links" sv-element="opts" class="reorder">
                {{link.linkText}}
            </button>
        </div>
    </div>

    <div class="buttonWrap">
        <button ng-if="!inReorder" class="coolButton edit" ng-click="cb({arg:saveLinkSec})"><i class="fa fa-check"></i><span>Save</span></button>
        <button ng-if="!inReorder" class="coolButton edit" ng-click="addLink()"><i class="fa fa-plus"></i><span>Add</span></button>
        <button class="coolButton edit" ng-click="inReorder=!inReorder; saveReorder()"><i class="fa fa-{{inReorder ? 'check' : 'bars'}}"></i><span>{{inReorder ? 'Save This Order' : 'Reorder'}}</span></button>
        <button ng-show="inReorder" class="coolButton edit" ng-click="inReorder=!inReorder"><i class="fa fa-arrow-circle-left"></i><span>Back</span></button>
    </div>
</div>
