<span ng-show="edt && edtme">
    <div class="inputWrap">
        <label>Link URL:</label>
        <input type="text" ng-model="cont.link"></input>
    </div>
    <div class="inputWrap">
        <label >Link Text:</label>
        <input type="text" ng-model="cont.linkText"></input>
    </div>
</span>
