<div>
    <div class="linkHeader">{{cont.header}}</div>
    <div ng-repeat="(i, link) in cont.links">
        <a href="{{link.link}}">{{link.linkText}}</a>
    </div>
    <i class="fa fa-pencil" ng-if="edt" ng-click="pencilClick()"></i>
</div>
