<trix-editor angular-trix ng-model="richCont"></trix-editor>
<!--
<div class="linkEdit" ng-if="inLink">
    <input type="text" ng-model="linkLabel" placeholder="label"></input>
    <input type="text" ng-model="linkUrl" placeholder="url"></input>
    <button ng-click="insertLink(linkLabel, linkUrl)">Insert</button>
    <button ng-click="trans(linkLabel, linkUrl)">transfer</button>
    <button ng-click="transBack(linkLabel, linkUrl)">transfer Back</button>
</div>

<i class="fa fa-link" ng-click="mkLink()"></i>
<textarea ng-show="edt&&edtme" ng-model="cont" placeholder="{{placeholder}}"></textarea>
<linkText ng-show="edt&&edtme" style="width:200px; height:200px; border:1px solid #012; float:left;">
    <div contenteditable="true" ng-model="abc">{{abc}}</div>
</linkText>
-->

