<div ng-init="edtme=!cont.link">
    <i ng-show="edt" class="fa fa-pencil" ng-click="edtme=!edtme"></i>

    <span ng-show="edt && edtme">
        <label>Link URL:</label>
        <input type="text" ng-model="cont.link"></input>
        <label >Link Text:</label>
        <input type="text" ng-model="cont.linkText"></input>
    </span>

    <a ng-if="cont.link" href="{{cont.link}}">{{cont.linkText}}</a>
</div>
