<div ng-init="edtme=!cont.link">
    <i ng-show="edt" class="fa fa-pencil" ng-click="pencilClick()"></i>
    <i ng-show="edt" class="fa fa-close" ng-click="cb({idxA: idxA});"></i>

    <a ng-if="cont.link" href="{{cont.link}}">{{cont.linkText}}</a>
</div>
