<div class="mapWrap" ng-init="edtme=!coords.addr">
    <map>
        <img ng-src="{{mapUrl}}"></img>
    </map>
    <h2 class="lab" ng-if="!coords.link">
        {{coords.lab}}
    </h2>

    <h2 class="lab" ng-if="coords.link">
        <a href="{{coords.link}}">{{coords.lab}}</a>
    </h2>
    <i ng-show="edt && !edtme" class="fa fa-pencil" ng-click="pencilClick()"><span class="cms">{{coords.addr ? '' : 'set location'}}</span></i>
</div>
