<div class="editMap">
    <div>
        <label>Address</label>
        <input type="text" ng-model="coords.addr" placeholder="Address"></input>
    </div>

    <!--
    <div>
        <label>Lat/Lon</label>
        <span ng-if="!coords.addr">
            <input type="text" ng-model="coords.lat" placeholder="Latitude"></input>
            <input type="text" ng-model="coords.lon" placeholder="Longitude"></input>
        </span>
    </div>

    <span ng-if="coords.addr">
        <div>{{coords.lat}}</div>
        <div>{{coords.lon}}</div>
    </span>
    --!>

    <div class="buttonWrap">
        <button class="coolButton edit" ng-if="coords.addr||coords.lat" ng-click="locAddress()"><i class="fa fa-map-marker"></i><span>Locate</span></button>
    </div>

    <div class="editMapLink" ng-show="edt && edtme">
        <div> <label>Label</label><input type="text" ng-model="coords.lab" placeholder="Label"></input></div>
        <div> <label>URL</label><input type="text" ng-model="coords.link" placeholder="Url"></input></div>
    </div>

    <div class="buttonWrap">
        <button class="coolButton edit" ng-click="cb({arg:saveText})"><i class="fa fa-check"></i><span>Save</span></button>
        <button class="coolButton edit" ng-click="del()"><i class="fa fa-check"></i><span>Delete</span></button>
    </div>
</div>
