<div class="popHeader" draggable="true">
    <div class="dragLines">
        <hr />
        <hr />
        <hr />
    </div>
    <i ng-if="false&&edtme" class="fa fa-arrows-h" ng-click="fixWidth()" ng-class="widthFixed|checkActive"></i>
    <i ng-if="edtme" class="fa fa-undo"     ng-click="pencilClick('undo');"></i>
    <i ng-if="edtme" class="fa fa-close"    ng-click="pencilClick();"></i>
</div>
