<div class="sectionText">
    <i class="fa fa-pencil" ng-click="pencilClick();" ng-if="edt"></i>
    <div class="subHead">{{cont.name}}</div>
    <div class="desc">{{cont.description}}</div>
    <a href="{{cont.link}}">{{cont.linkText}}</a>
</div>
