<div class="popCont">
    <div>
        <label>Name</label>
        <input ng-show="edt&&edtme" ng-model="cont.name" placeholder="Name"></input>
    </div>
    <div class="descWrap">
        <label>Description</label>
        <textarea ng-show="edt&&edtme" ng-model="cont.description" placeholder="Description"></textarea>
    </div>

    <div>
        <label>Link URL</label>
        <input ng-show="edt&&edtme" ng-model="cont.link" placeholder="Link URL"></input>
    </div>

    <div>
        <label>Link Text</label>
        <input ng-show="edt&&edtme" ng-model="cont.linkText" placeholder="Link Text"></input>
    </div>

    <div>
        <label>Blog Links</label>
        <select ng-change="blogLinkChanged()" ng-model="blogLink">
            <option ng-repeat="(i, opt) in opts" value="{{opt}}">{{opt.text}}</option>
        </select>
    </div>

    <div class="buttonWrap">
        <button class="coolButton edit" ng-click="cb({arg:saveText})">
            <i class="fa fa-check"></i>
            <span>Save</span>
        </button>
    </div>
</div>
