<div ng-init="edtme=false;">
    <content ng-class="edtme|checkActive">{{cont}}</content>
    <i ng-show="edt && !edtme" class="fa fa-pencil" ng-click="pencilClick();"><span class="cms">{{cont ? '' : placeholder}}</span></i>

    <label ng-show="edt && edtme">{{lab}}</label>
</div>
