<textarea ng-show="edt&&edtme" ng-model="cont" placeholder="{{placeholder}}"></textarea>

<div class="buttonWrap">
    <button class="coolButton edit" ng-click="cb({arg:saveText})"><i class="fa fa-check"></i><span>Save</span></button>
</div>
