[staff] {
    //margin:15px auto;
    .writeUp {
        float:left;
        clear:both;
        background:#f8f8f8;
        padding:3em;
        h1 {
            margin:20px 0px 40px;
        }
        [cms-link-text].head {
            content {
                font-size:25px;
                font-weight:bold;
                letter-spacing:0.5px;
                text-transform:none;
            }
        }
        [cms-text] {
            content {
                line-height:26px;
            }
            &.subHead {
                content {
                    font-size:20px;
                    margin-bottom:5px;
                    color:#37373a;
                }
            }
        }
    }
    .writeUp2 {
        float:left;
    }
    .pers {
        position:relative;
        float:left;
        padding:20px 18px;
        max-width:354px;
        min-width:250px;
        [cms-img] {
            max-height:400px;
            min-height:400px;
        }
    }
}
