@blogHeadJump: 560px;
button {
    &.coolButton {
        border-radius:2px;
        box-shadow:1px 1px 3px -1px #bebebe;
        //color:#fff;
        background:#007b80;
        border:none;
        margin-top:10px;
        margin-right:5px;
        padding:0px;
        margin-left:6px;
        //text-shadow:1px 1px #5e6476;
        font-family:lato;
        border-radius:20px;
        border:1px solid #999;
        transition:250ms;
        cursor:pointer;
        a, span {
            text-decoration:none;
            font-size:12px;
            letter-spacing:0.2px;
            font-weight:500;
            //text-shadow:1px 1px #5e6476;
            padding:10px 14px 10px 8px;;
            text-transform:uppercase;
            color:#fff;
            font-weight:bold;
        }
        i, .fa-reorder {
            padding:13px;
            border-radius:30px;
            min-width:17px;
            font-size:14px;
            background:rgb(40,42,43);
            transition:250ms;
            margin-left:-1px;
        }
        &.edit {
            background:#bcbcbc;
            color:#000;
            text-shadow:none;
            background:transparent;
            box-shadow:none;
            a, span {
                text-shadow:none;
                color:#000;
                color:#37373a;
            }
            i {
                color:#fff;
            }
            &:hover {
                background:@mainColor;
                i {
                    color:@mainColor;
                }
            }
        }
    }
}
.blog_main {
    padding:2em;
    float:left;
    .head {
        font-size:20px;
        font-weight:bold;
    }
    .item {
        padding-left: 20px;
    }
    img {
        height:200px;
    }
    .blogImg {
        height:150px;
        //width:300px;
    }
    [blog-post] {
        border-radius:4px;
        //overflow:hidden;
        background:#eee;
        margin:10px;
        border-radius:4px;
        margin:12px 20px;
        font-family:lato;
        float:left;
        min-width:97%;
        box-shadow:1px 1px 5px -1px #aaa;
        i {
            &.fa-youtube, 
            &.fa-picture-o {
                cursor:pointer;
                right:75px !important;
                top:12px !important;
                font-size:28px;
                transition:400ms;
                border:1px solid #ccc;
                border-radius:4px;
                padding:8px;
                &.active {
                    opacity:0.3;
                }
            }
        }
        .blogHead {
            text-align:center;
            font-size:22px;
            font-weight:400;
            padding:15px 0px;
            width:100%;
            background:#ccc;
            color:#000;
            text-decoration:none;
            background:linear-gradient(to right, #ff9077, #dfd9d9);
            position:relative;
            min-height:27px;
            float:left;
            a {
                color:#242424;
                //text-shadow:1px 1px #a4a4a4;
                transition:200ms;
                text-decoration:none;
                letter-spacing:0.7px;
                margin:0 120px;
                float:left;
                width:calc(~"100% - 240px");
                text-align:center;
                &:hover {
                    color:#555;
                }
                //transition:300ms;
                @media (max-width: @blogHeadJump) {
                    clear:both;
                    width:96%;
                    margin:40px 2% 0;
                }
            }
            i {
                position:absolute;
                top: 8px;
                right:5px;
                &.fa-pencil {
                    right:35px;
                }
            }
            .date {
                font-size:16px;
                position:absolute;
                top:18px;
                left:14px;
                color:#5e5353;
                color:#1e1818;
            }
            /*
            .date {
                font-size:14px;
                max-width:100px;
                float:left;
                position:absolute;
                top:0px;
                box-shadow:@crazyBS;
                .left {
                    float:left;
                    width:50%;
                }
                .right {
                    float:right;
                    width:50%;
                }
                .month {
                    width:100%;
                    background:#222;
                    color:#fff;
                    padding:4px 0px;
                    float:left;
                }
                .day {
                    width:calc(~"100% - 6px");
                    background:#fff;
                    color:#222;
                    padding:9px 3px;
                    float:left;
                    font-size:16px;
                }
                .year {
                    width:100%;
                    float:left;
                    padding:4px 0px;
                }
            }
            */
        }
        [cms-img] {
            height:150px;
            width:200px;
            float:left;
            margin:0px 15px 15px 0px;
            @media (max-width: @blogHeadJump) {
                //width:100%;
                //background-size:contain;
            }
        }
        .contentText {
            margin:20px;
            line-height:23px;
            float:left;
            max-width:75%;
            min-width:70%;
            font-size:16px;
        }
        .inputText {
            margin:10px;
            color:#444;
            float:left;
            width:70%;
            i { margin-right:5px; }
        }
        .date {
            float:left;
        }
        .readMore {
            width:70%;
            text-align:center;
            float:left;
            color:#242424;
            //text-shadow:1px 1px #a4a4a4;
            transition:200ms;
            text-decoration:none;
            &:hover {
                color:darken(@mainColor, 15%);
           }
        }
    }
}
[blog-items] {
    background:#eee;
    float:left;
    margin:0px 40px;
    width:calc(~"100% - 80px");
}
[blog-item] {
    float:left;
    font-family:lato;
    margin:20px;
    text-align:center;
    width:calc(~"100% - 40px");
    [cms-img] {
        height:300px;
        width:500px;
        //float:left;
        display:inline-block;
        border-radius:2px;
        margin:0px 15px 15px 0px;
        @media (max-width: @blogHeadJump) {
            width:350px;
        }
    }
    .itemHead {
        text-align:center;
        font-size:26px;
        font-weight:400;
        padding:15px 0px;
        width:100%;
        color:#242424;
        //text-shadow:1px 1px #a4a4a4;
        letter-spacing:0.7px;
        position:relative;
        background:linear-gradient(to right, #ccc, #fff);
        float:left;
        item-head {
            width:calc(~"100% - 240px");
            text-align:center;
            margin:0 120px;
            float:left;
            @media (max-width: @blogHeadJump) {
                clear:both;
                width:96%;
                margin:40px 2% 0;
            }
        }
        i {
            cursor:pointer;
            position:absolute;
            top: 8px;
            right:5px;
            &.fa-pencil {
                right:35px;
            }
            &.fa-picture-o {
                cursor:pointer;
                right:75px;
                font-size:28px;
                top:12px;
                transition:400ms;
                &.active {
                    opacity:0.3;
                }
            }
        }
        .date {
            font-size:16px;
            //position:relative;
            position:absolute;
            float:left;
            top:16px;
            left:14px;
            color:#1e1818;
        }
    }
    .contentText {
        margin:20px;
        line-height:23px;
        float:left;
        font-size:16px;
        text-align:left;
        width:calc(~"100% - 40px");
    }
}
