//@chartBg:       #1b7756; 
@chartBg:   @baseBg;
@chartColor: #477087;
@chartHeader: linear-gradient(to left, darken(@chartBg, 15%), darken(@chartBg, 25%));
@chartOptions: linear-gradient(to left, darken(@chartBg, 0%), darken(@chartBg, 10%));

@chartHeader: darken(@chartBg, 10%);
@chartOptions: fade(@chartBg, 80%);
@removeColor:   darken(red, 20%);

@contMenuBg:    #39589f;

/*
@chartHeader: #356d53;
@chartOptions: #52876f;
*/

.fa-stop, .fa-play, .fa-check, .fa-remove, .fa-plus-square-o { cursor:pointer; }
.fa-stop,
.fa-remove  { color:@removeColor; }
.fa-refresh { color:darken(@contMenuBg, 5%); }
.fa-cloud,
.fa-forumbee,
.fa-user    { 
    float:left;
}
.fa-user-plus,
.fa-check   { color:darken(green, 2%); }
.fa-info    { color:#0af; margin:0 8px; }
.fa-stack-1x { line-height:1.9; }
li.active .fa-stack-2x {
    color:white;
    opacity:1;
}
.fa-stack-2x { 
    color: #aaa; 
    font-size:1.3em !important;
    margin-top:6px;
    opacity:0.2;
    transition:300ms;
    &:hover {
        color:white;
    }
}

.chartWrap {
    background:rgba(255,255,255,0.9);
    position:relative;
    float:left;
    //border:1px solid black;
    //box-shadow:1px 1px 6px 0px #555;
    box-shadow:@crazyBS;
    color:#000;
    min-height:200px;
    transition:400ms;
    padding:0px 0px 4px;
    border-radius: 2px;
    margin:10px 0;
    float:left;
    overflow:hidden;
    .chartHeader {
        width:100%;
        max-width:858px;
        max-height:14px;
        overflow:hidden;
        white-space:nowrap;
        text-align:center;
        background:@chartHeader;
        font-weight:bold;
        font-size:15px;
        padding:10px 0px;
        letter-spacing:0.2px;
        color:#fff;
        text-transform:capitalize;
        .beaconList { color: #777; }
        .buttonWrap {
            background:rgba(0,0,0,0.7);
            height:26px;
            padding-top:8px;
            position:absolute;
            border-top-right-radius:6px;
            right:0px;
            top:0px;
            border-left:1px solid #222;
        }
        .one, .two, .three, .four {
            float:none;
            margin:0 4px;
            text-shadow:1px 1px #222;
        }
        .one { margin-right: 0px; color:#fff; }
        .two { float:right; font-weight:normal; }
        /*
        .three { font-weight:normal; }
        .four { font-style:italic; font-size:13px; font-weight:normal;}
        */
    }
    .options {
        padding:0px;
        width:100%;
        float:left;
        position:relative;
        margin-bottom:4px;
        text-align:center;
        //background:lighten(@chartColor, 25%);
        background:@chartOptions;
        .wrapTheRest {
            margin: 6px 2px 6px;
            text-align:center;
            display:inline-block;
            float:none;
            label {
                font-size:13px;
                font-weight:600;
                //color:#ddd;
            }
        }
    }
    .fa-user    { color:darken(green, 12%); }
    &.active {
        box-shadow: 0px 0px 10px 0px #444;
        opacity:0.7;
    }
    >div {
        position:relative;
        min-height:20px;
        div  >* { float:left; }
        .time { float:right; 
            input[type="time"] {
                width:96px;
            }
        }
        i { 
            width:32px;
            text-align:center;
            margin:2px 0 0 0px; 
            &.fa-stop { color: darken(red, 20%); };
            &.fa-play { color: green };
            >span {
                font-size:12px;
                color:black;
            }
        }
        input { width:32px; }
    }
    label { 
        font-family: helvetica; 
        margin:4px;
    }
    chartDepr {
        border: none;
        padding:0px;
    }
    input, select {
        margin:1px 0px 0px;
        outline:none;
    }
}
