[cms-map] {
    display:inline-block;
    min-height:200px;
    min-width:240px;
    max-width:252px;
    max-height:440px;
    position:relative;
    float:none;
    margin-left:10px;
    margin-right:10px;
    .fa-pencil {
        color:#37373a;
        margin-left:5px;
    }
    map {
        filter:saturate(25%);
        position:relative;
        float:left;
        width:240px;
        height:240px;
        img {
            border-radius:50%;
        }
    }
    h2 {
        color:#000;
        margin-top:15px;
        display:inline-block;
        font-size:14px;
        text-transform:uppercase;
        font-weight:bold;
        a {
            color:#37373a;
        }
    }
}
[contact] {
    [cms-map] {
        max-width:98%;
        map {
            img {
                border-radius:5%;
            }
        }
    }
}

[cms-img-slide],
[cms-img-side-slide],
[cms-img] {
    i {
        &.fa-pencil {
            border-radius:8px;
            background:#4986c0;
            border:3px solid white;
            color:#ddd;
        }
    }
}

[cms-img-side-slide] {
    position:relative;
    float:left;
    height:calc(~"100% - 55px");
    width:100%;
    overflow:hidden;
    min-height:640px;
    .slide {
        height:100%;
        width:100%;
        min-height:640px;
        left:0;
        background-repeat:no-repeat;
        background-position:75% 50%;
        background-size:cover;
        position:absolute;
        opacity:1;
        transition-timing-function: ease-in;
        transform: translateX(100%);
    }
    .fa.fa-pencil {
        position:absolute;
        z-index:4;
        top:7px;
        left:7px;
    }
}

[cms-in-text] {
    content {
        &.active {
            background:transparent;
            border-bottom:2px solid #494992;
        }
    }
}

//[cms-img-side-slide], 
[cms-img-slide], 
[cms-img-side-slide], 
[cms-map], 
[cms-img], 
[cms-link], 
[cms-link-text], 
[cms-text] {
    font-family:lato, sans-serif;
    content {
        white-space: pre-wrap;
        line-height:22px;
        //font-style:italic;
        font-size:16px;
    }
    &.head {
        font-weight:bold;
        text-transform:uppercase;
        font-size:32px;
        color:@mainColor;
        position:relative;
        content {
            font-style:normal;
            font-size:18px;
        }
        &.quotes {
            margin:0 20px;
            padding:0 20px;
            &::before {
                content: '​‌“';
                color: #cccccc;
                font-size: 50px;
                top: -8px;
                font-style: italic;
                left: -18px;
                position: absolute;
                font-family: 'Abril Fatface', cursive;
            }
            &::after{
                content: '‌”';
                color: #cccccc;
                font-size: 50px;
                bottom: -31px;
                font-style: italic;
                right: -5px;
                position: absolute;
                font-family: 'Abril Fatface', cursive;
            }
        }
    }
    &.subHead {
        font-size:24px;
        font-weight:bold;
        text-transform:uppercase;
        color:black;
    }
    /*
    [type="text"],
    textarea {
        width:96%;
        margin:0 1%;
    }
    */
    /*
    img {
        max-height:630px;
        width:100%;
        @media (max-width: 960px) and (min-width:600px) {
            max-width:360px;
        }
    }
    */
    a {
        text-decoration:none;
        color:@mainColor;
        font-weight:bold;
        transition:500ms;
        &:hover {
            box-shadow:2px 14px 0px -9px @mainColor;
        }
    }
    /*
    .fa-pencil {
        color:#ae6d2b;
        font-size:20px;
    }
    */
    .fa-close {
        color:#b63131;
        font-size:20px;
    }
}
[cms-img-slide] {
    height:630px;
    width:630px;
    .slide {
        height:630px;
        position:absolute;
        width:100%;
        background-size:cover;
        transition:1800ms;
        opacity:0;
        &.active {
            opacity:1;
        }
    }
}
[cms-img] {
    .fa-pencil {
        font-size:28px;
        color:#37373a;
        margin-left:7px;
        margin-top:7px;
    }
}
.sectionText {
    float:left;
    font-family:lato;
    white-space:pre-wrap;
    position:relative;
    .subHead {
        font-weight:bold;
        font-size:18px;
        text-transform:uppercase;
        margin:25px 0px 5px;
    }
    .desc {
        font-size:15px;
        line-height:24px;
    }
    a {
        text-decoration:none;
        color: darken(@mainColor, 5%);
        margin-top:20px;
        float:left;
        font-weight:bold;
    }
    i {
        position:absolute;
        top:30px;
        right:10px;
    }
}
.phone {
    content {
        font-weight:bold;
        font-size:16px;
    }
}
[cms-text] {
    textarea {
        //margin:20px 20px 5px 20px;
        //width:auto;
    }
    .buttonWrap {
        margin: 0px 0px 15px 0px;
    }
}
