/*
.outterWrap {
    text-align:center;
    background:white;
    padding:10px 0 30px 0;
    .innerWrap {
        display:inline-block;
        [cms-text],
        [cms-link],
        label {
            float:left;
            margin-left:8px;
        }
        label {
            clear:left;
            font-weight:bold;
            width:100px;
        }
        [cms-text],
        [cms-link] {
            content {
                line-height:14px;
            }
        }

    }
}
*/
[contact] {
    .mapWrapSet {
        .mapWrap {
            width:98%;
            max-height:640px;
            map {
                border-radius:0;
                height:420px;
            }
        } 
    } 
}

.contactInfo {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    text-align:center;
    display:flex;
    .eachLoc {
        min-width:300px;
        float:left;
        flex-grow:1;
        margin-bottom:30px;
        h2 {
            color:@mainColor;
            font-size:18px;
            font-weight:bold;
        }
        [cms-text] content {
            font-style:normal;
            line-height:28px;
            letter-spacing:0.3px;
        }
        .locInfo {
            [cms-text] content {
                font-style:normal;
                line-height:22px;
                letter-spacing:0.3px;
                font-size:14px;
            }
            .phone {
                content {
                    font-weight:bold;
                    font-size:16px;
                }
            }
        }
        .hoursWrap {
            margin-top:25px;
            .hours {
                min-width:150px;
                color:#37373a;
                font-weight:500;
                font-size:14px;
                text-align:left;
                margin-left:20%;
                label, div {
                    display:inline-block;
                }
                label {
                    width:100px;
                    text-align:center;
                    margin-right:70px;
                }
            }
        }
    }
}
.hoursCms {
    .weekday {
        width:100%;
        text-align:center;
        float:left;
        margin:5px 0px;
        label { 
            font-weight:400;
            color:@mainText;
            font-size:13px;
            text-transform:uppercase;
            width:150px;
            float:left;
            font-family:lato;
        }
        .from, .to {
            width:80px;
            font-weight:bold;
            color:#503f3f;
            font-family:lato;
            letter-spacing:0.5px;
            -webkit-font-smoothing:subpixel-antialiased;
        }
    }
    .hoursPop {
        max-width:400px;
        min-width:350px;
        input {
            width:80px;
            height:17px;
            min-height:auto;
        }
    }
}
.locInfo {
    font-style:normal;
    line-height:22px;
    letter-spacing:0.3px;
    font-size:14px;
    min-height:100px;
    a {
        color:@mainColor;
    }
    .locInfoPop {
        .inputWrap {
            float:left;
            clear:both;
            margin:5px auto;
        }
        input {
            margin:5px;
        }
    }
}
/*
.contactInfo {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    text-align:center;
    .eachLoc {
        min-width:300px;
        float:left;
        border:1px solid green;
        .hours {
            min-width:150px;
            label, div {
                display:inline-block;
            }
        }
    }
}
*/
