@mainText: #373737;
@mainColor: #ff9077;
[files] {
    .fa-pencil {
        color:green;
        position:absolute;
        top:3px;
        left:3px;
    }
    img {
        width:auto;
        max-height:100px;
        display:block;
    }
    h3 {
        color:white;
        position:relative;
        float:left;
        margin-right:8px;
        color:#aaa;
        &.active {
            text-decoration:underline;
            color:white;
        }
        i.fa {
            width:auto;
            width: 18px !important;
            top:-4px !important;
        }
        i.fa-plus {
            float:right;
        }
        input {
            width:80px !important;
            margin-left:60px !important;
        }
    }
    li {
        text-decoration:none;
    }
    .grpMenu {
        position:relative;
        float:left;
        clear:both;
        min-width:100%;
        .dirWrap {
            width:100%;
            background:#fff;
            float:left;
            .dirs {
                text-transform:uppercase;
                float:left;
                padding:10px;
                cursor:pointer;
                &.active {
                    font-weight:bold;
                }
            }
            i { 
                float:left; 
                padding:10px;
                color:@mainColor;
            }
            .addDir {
                display:inline-block;
                input { float:left; }
                i {
                    color:#205920;
                    border:1px solid #ccc;
                    border-radius:4px;
                    padding:6px 10px;
                    margin-top:5px;
                    span {
                        font-family:lato;
                        font-weight:bold;
                    }
                }
            }
        }
    }
    .files.ng-hide {
        max-height:0px;
        margin:0px;
        display:block !important;
        overflow:hidden;
    }
    .files {
        //border:1px solid #000;
        //background:rgba(0,0,0,0.6);
        float:left;
        width:95%;
        margin-top:15px;
        //max-height:300px;
        transition:400ms;
        h1 {
            background:@mainColor;
            color:@mainText;
            font-size:18px;
            text-transform:uppercase;
            padding:15px;
            margin:0px;
            button.uploadNew {
                background:rgba(3,19,26,0.24);
                float:right;
                font-size:13px;
                border:none;
                border-radius:20px;
                padding:7px 12px;
                margin-top:-3px;
                text-transform:uppercase;
                font-weight:500;
                box-shadow:0px 0px 3px -1px #000;
            }
        }
        ul.fileWrap {
            list-style:none;
            width:100%;
            float:left;
            padding:0px;
            margin:0px;
            max-height:216px;
            overflow:auto;
            li {
                float:left;
                padding:0px;
                margin:0px;
            }
            .fileThumb {
                position:relative;
                margin:8px 0 0 4px;
                i {
                    position:absolute;
                    bottom:2px;
                    right:2px;
                    transition:200ms;
                    cursor:pointer;
                    &:hover {
                        opacity:0.5;
                    }
                }
            }
        }
        .upFile {
            border:1px dashed #888;
            padding:4px;
            width:250px;
            min-height:64px;
            float:left;
            margin:20px 40px;
            background:fade(#fff, 30%);
            border-radius:4px;
            text-align:center;
            font-size:16px;
            color:#aaa;
            width:85%;
            button {
                border-radius:4px;
                margin:2px;
                border:none;
                box-shadow:none;
                background:#28536c;
                color:#fff;
                font-size:15px;
                padding:8px 12px;
                margin-top:5px;
            }
            .actualUploader {
                min-height:24px;
                padding:20px;
                cursor:pointer;
            }
        }
    }
}
