//Footer START
#main-footer {
    width:100%;
    min-height:100px;
    color:#fff;
    float:left;
    position:relative;
    background:#222;
    .subFooter {
        width:calc(~"100% - 15px");
        background:@mainColor;
        padding:15px 0px 15px 15px;
        font-weight:bold;
        float:left;
        font-size:12px;
    }
    .linkContainer {
        display:flex;
        //width:calc(~"100% - 30px");
        padding:100px 15px;
        [cms-link-section] {
            flex-grow:1;
            margin-left:5%;
            position:relative;
            a {
                color:@mainColor;
                text-decoration:none;
                transition:0.3 ease-in-out;
                font-size:14px;
                font-weight:normal;
                font-family:lato;
                transition:200ms;
                &:hover {
                    color:#999;
                }
            }
            i.fa-pencil {
                cursor:pointer;
                transition:250ms;
                position:absolute;
                top:-12px;
                right:5px;
                &:hover {
                    color:#99ff94;
                }
            }
            input {
                min-width:120px;
                &.url { min-width:180px; }
            }
            /*
            label {
                width:auto;
            }
            */
            .linkHeader {
                text-transform:uppercase;
                font-weight:bold;
                font-size:16px;
                color:@mainColor;
                margin-bottom:6px;
            }
            button {
                &.coolButton {
                    margin-bottom:10px;
                }
            }
            pop-it {
                .row {
                    margin:2px 0px;
                    padding:5px 10px;
                    min-width:500px;
                    /*
                    i.fa-trash {
                        color:red;
                        margin-right:8px;
                        font-size:20px;
                    }
                    */
                }
                .header {
                    //width:calc(~"100% - 20px");
                    float:left;
                    margin:2px 0px;
                    text-align:center;
                    margin-bottom:30px;
                }
            }
        }
    }
    /*
    .linkContainer {
        margin-right:auto;
        margin-left:auto;
        width:970px;
        .anotherContainer {
            padding:100px 15px;
            display:inline-block;
            width:100%;
            .linkWrap {
                float:left;
                width:25%;
                .linkHead {
                    font-weight:bold;
                    font-size:16px;
                    color:#222;
                    color:#fff;
                    margin-bottom:3px;
                    color:@mainColor;
                }
                .addLink {
                    .button1;       
                    margin-top:20px;
                }
            }
        }
        [cms-link] {
            input {
                margin:2px;
                border-radius:4px;
                padding:4px;
                width:120px;
                border:none;
            }
            .fa-pencil, .fa-close {
                font-size:12px;
                background:rgba(0,0,0,0.8);
                padding:5px;
                border-radius:4px;
                margin:1px;
                transition:150ms;
                cursor:pointer;
                &:hover {
                    background:rgba(0,0,0,0.2);
                    color:#28536c;
                }
            }
            .fa-close {
                margin-right:5px;
            }
            .fa-pencil {
                //background:#2974a4;
            }
            a {
                color:#fff;
                transition:.3s ease-in-out;
                font-weight:normal;
                font-size:14px;
                color:@mainColor;
                &:hover {
                    color:#686868;
                    box-shadow:none;
                }
            }
        }
    }
    */
}
//Footer END 

