[header] {
    position:absolute;
    left:0;
    z-index:100;
    width:100%;
    overflow:hidden;
    font-weight:normal;
    //min-width:560px;
    height:@footerHeight;
    @media screen and (max-width: 800px) {
        display:none;
    }
}
[header] {
    height:@headerHeight;
    top:0;
    border:none;
    z-index:100;
    background:@baseBg;
    position:relative;
    float:left;
    .logos {
        margin:0;
        img {
            position:relative;
            float:left;
        }
        #logoWrap {
            height:@headerHeight;
            width:350px;
            overflow:hidden;
            margin:0px;
            background:linear-gradient(to right, #000, @baseBg);
            #reely {
                padding:6px;
                display:none;
            }
            #bmr {
                margin-top:7px;
                margin-left:15px;
                height:56px;
            }
        }
        >div { float:left; }
        div.login { 
            float:right;
            font-size:14px;
            margin-top:6px;
            //background:rgba(0,0,0,0.95);
            border-radius:5px;
            //text-shadow:1px 1px #000;
            //color:lighten(@secondary, 80%);
            font-weight:bold;
            font-size:13px;
            color:#eee;
            @media screen and (max-width: 700px) {
                position:absolute;
                top:0;
                right:0;
            }
            .inputs {
                margin: 4px 8px 2px 4px;
                label, input {
                    margin-bottom:5px;
                }
                label {
                    width:112px;
                    position:relative;
                    float:left;
                    display:block;
                    min-width:106px;
                    margin-top:2px;
                }
                input {
                    position:relative;
                    float:right;
                    display:block;
                    min-width:106px;
                }
            }
            i {
                font-size:16px;
                margin:0px 2px;
                float:none;
            }
            button {
                background:lighten(@secondary, 85%);
                color:darken(@secondary, 10%);
                font-weight:bold;
                font-size:13px;
                padding:3px 7px;
                box-shadow:1px 1px 3px -1px #000;
                border-radius:4px;
                height:44px;
                margin:4px;
                &:hover {
                    box-shadow:0px 0px 6px 0px #000;
                    background:#aaa;
                }
            }
            input {
                border-radius:2px;
                border:none;
                padding:2px 4px;
                box-shadow:1px 1px 3px -1px #333;
                font-size:13px;
                background:#fff;
                width:auto;
                max-width:120px;
            }
            label {
                margin:0px 8px 0px 4px;
                &#username { 
                    font-size:15px;
                    margin:0px 4px 0px 0px;
                    font-weight:bold;
               }
            }
        }
        div {
            margin:4px;
            float:left;
            a {
                color:white;
                text-decoration:none;
            }
        }
    }
    >div {
        margin:12px 0 0 0;;
        padding:0;
        float:left;
        width:100%;
        .logo {
            margin:-8px 0 0 8px;
            float:left;
        }
        .auth {
            float:right;
            margin:0px 6px 6px 6px;
            transition:1s;
            >div form >div, form >div >div, >div >div >div {
                position:relative;
                margin:0 3px;
                float:left;
            }
            form label {
                width:74px;
                font-weight:bold;
                font-size:12px;
                color:#333;
            }
            input {
                border-radius:4px;
                width:100px;
                background:#eef2ff;
                border:1px solid #777;
                padding:2px 3px 2px 3px;
                font-size:14px;
                margin-left:5px;
            }
            .button, .buttonout {
                background:@contMenuBg;
                border:1px solid #555;
                width:auto;
                padding:5px 8px;
                height:11px;
                font-size:12px;
                text-align:center;
                border-radius:4px;
                font-weight:bold;
                color:#333;
                &:hover {
                    background:@buttonHover;
                    border:1px solid #777;
                }
            }
        }
    }
}
