html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:helvetica;
    outline:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html { height: 100%; }

@headerHeight: 70px;
@footerHeight: 0px;

@headerBg: #e4eefb;
@buttonHover: #9fbce1;

@narrowHeader: 746px;
@narrow: 1075px;

@contMenuBg:    #39589f;

/* GREEN */
@baseBg:           #123223;

@emCl:          #123223;
@inputBg:       lighten(@baseBg, 80%);

@removeColor:   darken(red, 20%);

@primary:   #fff;
@secondary: @baseBg;

@third:     #eee; 
@lHeader:      linear-gradient(lighten(@secondary, 1%), darken(@secondary, 15%));
@lHeaderRev:   linear-gradient(darken(@secondary, 15%),  lighten(@secondary, 1%));
@backdrop:  lighten(@secondary, 84%);

@chartColor: #477087;
@chartHeader: linear-gradient(to left, darken(@baseBg, 15%), darken(@baseBg, 25%));
@chartOptions: darken(@baseBg, 0%);
@chartOptions: linear-gradient(to left, darken(@baseBg, 0%), darken(@baseBg, 10%));

@chartHeader: darken(@baseBg, 15%);
@chartOptions: @baseBg;

.fa-stop, .fa-play, .fa-check, .fa-remove, .fa-plus-square-o { cursor:pointer; }
.fa-stop,
.fa-remove  { color:@removeColor; }
.fa-refresh { color:darken(@contMenuBg, 5%); }
.fa-cloud,
.fa-forumbee,
.fa-user    { 
    float:left;
}
.fa-user-plus,
.fa-check   { color:darken(green, 2%); }
.fa-info    { color:#0af; margin:0 8px; }
.fa-stack-1x { line-height:1.9; }
li.active .fa-stack-2x {
    color:white;
}
.fa-stack-2x { 
    color: #aaa; 
    font-size:1.6em !important;
    margin-top:3px;
    transition:300ms;
    &:hover {
        color:white;
    }
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 1;
    @media only screen and (max-device-width: 480px) {
        min-width:0px;
    }
}

button {
    border:none;
    outline:none;
    cursor:pointer;
    transition:200ms;
    &.returnTo {
        font-size:12px;
        background:transparent;
        border:1px solid #aaa;
        color:darken(@baseBg, 15%);
        border-radius:2px;
        padding:6px 10px;
        letter-spacing:0.3px;
        font-weight:bold;
        background:rgba(0,0,0,0.1);
    }
}

#header,
#footer {
    position:absolute;
    left:0;
    z-index:100;
    width:100%;
    overflow:hidden;
    font-weight:normal;
    //min-width:560px;
    height:@footerHeight;
    @media screen and (max-width: 800px) {
        display:none;
    }
}
#header {
    height:@headerHeight;
    top:0;
    border:none;
    z-index:100;
    background:@baseBg;
    position:relative;
    float:left;
    .logos {
        margin:0;
        img {
            position:relative;
            float:left;
        }
        #logoWrap {
            height:@headerHeight;
            width:350px;
            overflow:hidden;
            margin:0px;
            background:linear-gradient(to right, #000, @baseBg);
            #reely {
                padding:6px;
                display:none;
            }
            #bmr {
                margin-top:7px;
                margin-left:15px;
                height:56px;
            }
        }
        >div { float:left; }
        div.login { 
            float:right;
            font-size:14px;
            margin-top:6px;
            //background:rgba(0,0,0,0.95);
            border-radius:5px;
            //text-shadow:1px 1px #000;
            //color:lighten(@secondary, 80%);
            font-weight:bold;
            font-size:13px;
            color:#eee;
            @media screen and (max-width: 700px) {
                position:absolute;
                top:0;
                right:0;
            }
            .inputs {
                margin: 4px 8px 2px 4px;
                label, input {
                    margin-bottom:5px;
                }
                label {
                    width:112px;
                    position:relative;
                    float:left;
                    display:block;
                    min-width:106px;
                    margin-top:2px;
                }
                input {
                    position:relative;
                    float:right;
                    display:block;
                    min-width:106px;
                }
            }
            i {
                font-size:16px;
                margin:0px 2px;
                float:none;
            }
            button {
                background:lighten(@secondary, 85%);
                color:darken(@secondary, 10%);
                font-weight:bold;
                font-size:13px;
                padding:3px 7px;
                box-shadow:1px 1px 3px -1px #000;
                border-radius:4px;
                height:44px;
                margin:4px;
                &:hover {
                    box-shadow:0px 0px 6px 0px #000;
                    background:#aaa;
                }
            }
            input {
                border-radius:2px;
                border:none;
                padding:2px 4px;
                box-shadow:1px 1px 3px -1px #333;
                font-size:13px;
                background:#fff;
                width:auto;
                max-width:120px;
            }
            label {
                margin:0px 8px 0px 4px;
                &#username { 
                    font-size:15px;
                    margin:0px 4px 0px 0px;
                    font-weight:bold;
               }
            }
        }
        div {
            margin:4px;
            float:left;
            a {
                color:white;
                text-decoration:none;
            }
        }
    }
    >div {
        margin:12px 0 0 0;;
        padding:0;
        float:left;
        width:100%;
        .logo {
            margin:-8px 0 0 8px;
            float:left;
        }
        .auth {
            float:right;
            margin:0px 6px 6px 6px;
            transition:1s;
            >div form >div, form >div >div, >div >div >div {
                position:relative;
                margin:0 3px;
                float:left;
            }
            form label {
                width:74px;
                font-weight:bold;
                font-size:12px;
                color:#333;
            }
            input {
                border-radius:4px;
                width:100px;
                background:#eef2ff;
                border:1px solid #777;
                padding:2px 3px 2px 3px;
                font-size:14px;
                margin-left:5px;
            }
            .button, .buttonout {
                background:@contMenuBg;
                border:1px solid #555;
                width:auto;
                padding:5px 8px;
                height:11px;
                font-size:12px;
                text-align:center;
                border-radius:4px;
                font-weight:bold;
                color:#333;
                &:hover {
                    background:@buttonHover;
                    border:1px solid #777;
                }
            }
        }
    }
}
@ftHeight: 60px;
#footer {
    bottom:0;
    //background:darken(@baseBg, 10%);
    //background:linear-gradient(to right,#111, darken(@baseBg, 10%), #111);
    background:linear-gradient(to right, darken(@baseBg, 25%), darken(@baseBg, 10%), darken(@baseBg, 25%));
    position:relative;
    width:100%;
    height:@ftHeight;
    margin-top:15px;
    box-shadow:0px -1px 5px -1px #000;
    #jktoolsImg{
        background-image:url('../image/tool-logo.png');
        background-repeat:no-repeat;
        background-position:center;
        width:100%;
        height:100%;
        background-size:90px;
    }
}
#contentRouter {
    overflow:auto;
}
#menu {
    width:100%;
    ul {
        transition:0.8s;
        position:relative;
        margin:0px;
        text-align:center;
        border-top:1px solid @secondary;
        display:flex;
        flex-direction:row;
        width:100%;
        background:linear-gradient(#111, #222);
        box-shadow:0px 1px 5px -1px #000;
        li {
            cursor:pointer;
            border-radius:0px;
            outline:none;
            flex-grow:1;
            display:inline-block;
            padding:6px 12px 3px 5px;
            margin:0;
            //hack 
            //letter-spacing:0.6px;
            font-weight:bold;
            font-size:18px;
            color:#eee;
            transition:300ms;
            position:relative;
            box-shadow:1px 0px 2px -1px #000;
            span.wide {
                @media screen and (max-width: 645px) {
                    display:none;
                }
                white-space:nowrap;
            }
            &:hover {
                background:#000;
                color:lighten(@secondary, 20%);
                i {
                    color:lighten(@secondary, 20%);
                }
            }
            &.active {
                background:@secondary;
                color:#eee;
                pointer-events:none;
            }
            &.infraTab {
                &:hover .subMenu {
                    max-height:100px;
                }
                .subMenu {
                    max-height:0px;
                    overflow:hidden;
                    transition:200ms;
                    position:absolute;
                    left:0px;
                    width:100%;
                    border-bottom-right-radius:8px;
                    border-bottom-left-radius:8px;
                    box-shadow:1px 8px 12px -7px #000;
                    ul {
                        background:#000;
                        opacity:0.95;
                        display:inline-block;
                        margin-top:3px;
                        padding:2px 0px 5px;
                        border-bottom-right-radius:8px;
                        border-bottom-left-radius:8px;
                        border-top:none;
                        li {
                            font-size:13px;
                            padding:10px 5px 5px;
                            display:block;
                            box-shadow:none;
                            border-radius:8px;
                            margin-left:5px;
                            i {
                                margin:0px 5px;
                                float:left;
                            }
                        }
                    }
                }
            }
        }
    }
}
.downloadCSV {
    width:100%;
    margin-top:10px;
    float:left;
    margin-bottom:15px;
    a {
        font-size:12px;
        background:darken(@baseBg, 10%);
        padding:10px;
        color:#222;
        text-decoration:none;
        border-radius:2px;
        cursor:pointer;
        border:1px solid #ccc;
        font-weight:bold;
        background:rgba(0,0,0,0.05);
        transition:150ms;
        box-shadow:@crazyBSinput;
        &:hover {
            background:rgba(0,0,0,0.15);
        }
    }
}


#container {
    position:relative;
    z-index:1;
    width:100%;
    min-height:100%;
    height:auto;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:-@ftHeight - 15px;
    //overflow:hidden;
    #push {
        height:@ftHeight + 15px;
    }
}

#content {
    position:relative;
    background:transparent;
    padding:4px 0 0 12px;
}
.lists {
    text-align:center;
}


div.listWrap {
    float:left;
    margin:8px;
    padding:12px;
    width:96%;
    button {
        border:2px solid #abc;
        padding:4px;
        margin:3px;
        font-size:15px;
        background:transparent;
    }
}

h1 {
    position:relative;
    float:left;
    clear:both;
    font-size:1.4em;
    width:92%;
    margin:20px 32px 12px;
    color:darken(@third, 60%);
    span {
        font-size:16px;
    }
    button, select {
        font-size:0.6em;
        padding:2px 5px;
        background:white;
        border-radius:7px;
        border:1px solid #aaa;
        &:hover {
            background:#ddd;
        }
    }
}
@inputWidth: 290px;
.autoComplete {
}
.mdMenu {
    color:blue;
    font-size:12px;
}
md-autocomplete {
   width:300px;
   height:40px;
   float:right;
   input {
        pointer-events:all !important;
        border-radius:0px !important;
   }
}

.md-calendar-day-header th {
    height:25px !important;
    padding-top:10px !important;
}
.md-datepicker-input-mask {
    height:0px !important;
}
@crazyBS: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBSinput: 0 0px 2px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBS1: 0 1px 3px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
@fldWidth: 140px;
@import "list.less";

downlink {
    &.blur {
        opacity:0.2;
    }
}


@selmenu: @baseBg;
@dopeInset1: inset 0px 0px 1px 0px #000;
@dopeInset: inset 0px 0px 1px 0px #000;
@selmenuWidth: 40px;
@boxColor:green;
@shrunk:34px;
.fileManager {
    width:800px;
    //box-shadow:0px 0px 2px 0px #000;
    //padding:1px;
    position:relative;
    margin:10px auto;
    overflow:hidden;
    min-height:150px;
    box-shadow:0px 0px 7px -1px #000;
    .mondo  { width: 250px; }
    .big    { width: 170px; }
    .med    { width: 150px; }
    .small  { width: 100px;  }
    .spacer { width: 35px; height:20px; float:left; }
    .big, .med, .small, .spacer, .mondo {
        text-align:center;
        display:inline-block;
        padding:10px 0px;
    }
    button {
        font-size:14px;
        font-weight:bold;
        padding:7px 9px;
        margin-left:5px;
        border:none;
        box-shadow:0px 0px 1px -1px #000;
        background:rgba(0,0,0,0.7);
        color:#bbb;
        outline:none;
        border-radius:6px;
        cursor:pointer;
        &.fileUp {
            background:darken(@baseBg, 18%);
            font-weight:normal;
            box-shadow:1px 1px 2px 0px #000;
            color:#eee;
            font-size:13px;
            transition:100ms;
            &:hover {
                background:darken(@baseBg, 22%);
            }
        }
    }
    .dirAdd, .response {
        overflow:hidden;
        margin:10px auto;
        border-radius:15px;
        position:relative;
        text-align:center;
        color:#eee;
        width:100%;
        float:left;
        .buttonWrap {
            margin-top:14px;
            padding:2px;
             i {
                font-size:15px;
            }
        }
        .close {
            position:absolute;
            right:5px;
            top:5px;
            i {
                font-size:18px;
                cursor:pointer;
                transition:150ms;
                &:hover {
                    color:#000;
                }
            }
        }
        .alreadyExists {
            font-size:14px;
            color:#000;
            margin-top:8px;
            margin-bottom:5px;
        }
        input {
            font-size:16px;
            height:22px;
            padding:5px;
            outline:none;
            border:none;
            border-radius:4px;
        }
        i { font-size:23px; margin-right:5px; }
        .newFile {
            padding:3px;
            display:inline-block;
            text-align:center;
            border-radius:10px;
            min-height:20px;
            color:#333;
            cursor:pointer;
            position:relative;
            margin:5px 19px 0px;
            min-width:270px;
            font-size:14px;
            width:92%;
            position:relative;
            padding-right:25px;
            transition:200ms;
            background:rgba(0,0,0,0.05);
            box-shadow:0px 0px 4px -1px #000;
            &.active {
                opacity:0.5;
                pointer-events:none;
                border:2px solid red;
            }
            .upFileList {
                float:left;
                width:100%;
                font-size:15px;
                margin-top:2px;
            }
            .actualUploader {
                top:0;
                left:0;
                right:0;
                bottom:0;
                //position:absolute;
                float:left;
                width:100%;
                display:inline-block;
                min-height:20px;
                border:3px dashed transparent;
                padding:8px;
                transition: 400ms;
                border-radius:2px;
                .upMsg {
                    margin-top:5px;
                    font-size:13px;
                    font-weight:bold;
                    display:inline-block;
                }
                &:hover,
                &.dragover {
                    border:3px dashed #888;
                    border:3px dashed fade(darken(@baseBg, 10%), 50%);
                    border-radius:10px;
                }
            }
            .uploading {
                top:0;
                left:0;
                right:0;
                bottom:0;
                padding-top:3px;
                transition:200ms;
                .msg {
                    margin-top:4px;
                    display:block;
                    font-size:15px;
                }
                .fileUpMsg {
                    margin:5px;
                }
                i {
                    right:5px;
                    top:6px;
                    //position:absolute;
                    font-size:18px;
                }
            }
        }
    }
    .vale {
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        z-index:100;
        background:rgba(0,0,0,0.85);
        opacity:1px;
        transition:300ms;
        pointer-events:all;
        .dirAdd, .response {
            background:darken(@baseBg, 10%);
            box-shadow:0px 0px 6px -1px #000;
            margin-top:50px;
            padding:20px 0px;
            width:500px;
            float:none;
        }
        .response {
            color:#aaa;
        }
    }
    .vale.ng-hide {
        display:block !important;
        pointer-events:none;
        opacity:0;
        overflow:hidden;
    }
    .dirHeaders {
        width:100%;
        //background:linear-gradient(lighten(@selmenu, 0%), lighten(@selmenu, 10%));
        background:#222;
        color:#ddd;
        float:left;
        position:relative;
        display:flex;
        align-items:center;
        margin:0px;
        box-shadow:@dopeInset1;
        .big, .med, .small {
            font-size:14px;
            //font-weight:bold;
        }
        .addDir {
            margin-left:auto;
            background:rgba(0,0,0,0.3);
            color:#ddd;
            font-size:14px;
            padding:14px 12px 12px;
            transition:200ms;
            cursor:pointer;
            &:hover {
                background:rgba(0,0,0,0.7);
            }
        }
     }
     .dir {
        width:100%;
        float:left;
        margin:0px 0px 0px;
        transition:200ms;
        &.inactive { opacity:0.6; pointer-events:none; }
        .dirOnlyWrap {
            //background:linear-gradient(to left, lighten(@selmenu, 55%), #fff);
            //background:linear-gradient(darken(@selmenu, 16%), darken(@selmenu, 20%));
            background:linear-gradient(to left, darken(@selmenu, 10%), darken(@selmenu, 20%));
            box-shadow:@dopeInset1;
            color:#bbb;
            width:100%;
            float:left;
            .clickable {
                float:left;
                cursor:pointer;
            }
        }
        .big, .med, .small, .mondo { 
            font-size:15px; 
            overflow:hidden; 
            text-overflow:ellipsis; 
        }
        i {
            cursor:pointer;
            &.fa-folder-o, &.fa-folder {
                float:left;
                font-size:18px;
                margin:10px 10px 0px 10px;
            }
            &.fa-close, &.fa-download, &.fa-link {
                margin:10px 10px 0px;
                float:right;
                opacity:0.4;
                transition:200ms;
                //color:darken(@selmenu, 30%);
                &:hover { opacity:0.8; }
            }
        }
        .fileWrap {
            float:left;
            background:rgba(0,0,0,0.05);
            box-shadow:0px 0px 4px -1px #000;
            max-height:500px;
            transition:max-height 500ms;
            transition-delay:0ms;
            width:95%;
            margin:15px 19px 0px;
            overflow:hidden;
            border-radius:10px;
            //color:#bbb;
            padding:2px;
            .big, .med, .small, .mondo {
                font-size:13px;
                margin:0px;
                text-align:left;
                margin-left:10px;
                padding:4px 0px;
                white-space:nowrap;
            }
            .headers > div { font-weight:bold; }
            .files {
                float:left;
                width:100%;
            }
            i.fa-close { margin:4px 10px 0px 2px; float:right; }
            i.fa-download { margin:4px 0px 0px -9px; }
            i.fa-link { margin:4px 10px 0px -20px; }
            .downLink {
                cursor:pointer;
                display:inline-block;
                float:right;
                margin:1px 6px;
                i {
                    color:#333;
                }
            }
            .addFiles {
                margin:1px;
                padding:7px 5px 4px;
                font-size:14px;
                font-weight:bold;
                text-align:center;
                .add {
                    margin: 0px 2px 2px 2px;
                    transition:150ms;
                    cursor:pointer;
                    display:inline-block;
                    &:hover { opacity:0.5; }
                 }
                .buttonWrap {
                    text-align:center;
                    margin-top:4px;
                    button {
                        font-size:12px;
                        i {
                            font-size:15px;
                            &.fa-close {
                                margin:0px 4px 0px 0px;
                                opacity:1;
                            }
                        }
                    }
                }
            }
        }
        .fileWrap.ng-hide {
            display:inline-block !important;
            max-height:0px;
            margin:0px 19px 0px;
            padding:0px;
            transition:300ms;
            transition-delay:0ms;
        }
    }
}

@crazyBS1: 0 1px 3px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
#notifier {
    background:#fff;
    //min-width:500px;
    min-height:35px;
    z-index:20000;
    position:fixed;
    left:50%;
    transform:translate(-50%, 0);
    top:-110px;
    box-shadow:@crazyBS;
    transition:500ms;
    cursor:pointer;
    border-radius:2px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    text-align:center;
    font-size:16px;
    padding-top:15px;
    min-width:200px;
    &.active {
       top:10px; 
    }
    .awesomeBox {
        left:0px;
        top:0px;
        bottom:0px;
        position:absolute;
        width:40px;
        padding:10px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
        text-shadow:1px 1px #222;
        background:darken(@baseBg, 20%);
        color:#eee;
        font-size:26px;
        text-align:center;
        &.check { background: #50a162; }
        &.ban { background: #950000; }
        &.exclamation-circle { background: #ffbd31; text-shadow:none; color:#222; font-size:28px; }
    }
    .notifMsg {
        margin-left:70px;
        margin-right:10px;
        white-space:nowrap;
    }
    .confirmWrap {
        position:absolute;
        bottom:-45px;
        left:0px;
        right:0px;
        text-align:center;
        .yesButton, .noButton {
            width:50px;
            background:#417c81;
            color:#fff;
            text-shadow:1px 1px #333;
            font-weight:bold;
            padding:10px 30px;
            border-radius:30px;
            margin:4px;
            box-shadow:@crazyBS;
            transition:150ms;
            background:linear-gradient(@teal, darken(@teal, 10%));
            &:hover {
                opacity:0.6;
            }
        }
    }
}
.invDef {
    .box {
        position:relative;
        float:left;
        border:2px solid black;
        border-radius:8px;
        margin-bottom:4px;
        padding:8px;
    }
    .clear {
        clear:both;
    }
    [dbadmin] {
        ul {
            position:relative;
            float:left;
        }
        position:relative;
        float:left;
        clear:both;
        width:100%;
        .dbhead {
            position:relative;
            float:left;
            li {
                font-weight:bold;
                position:relative;
                float:left;
                margin-right:8px;
                width:40px;
                &.name { width:180px; }
                &.type { width:180px; }
                &.default { width:300px; }

                input {
                    width:32px;
                    margin-right:2px;
                }

                &.name,
                &.type,
                &.default { 
                    input {
                        width:176px;
                    }
                }
                margin-top:12px;
                margin-bottom:12px;
            }
        }
        .dbadmin {
            position:relative;
            float:left;
            clear:both;
            li {
                overflow:hidden;
                text-overflow: ellipsis;
                position:relative;
                float:left;
                margin-right:8px;
                width:40px;
                &.name {width:180px; }
                &.type { width:180px; }
                &.default { width:300px; }
                transition:800ms;
                &:hover {
                    width:auto;
                }
                margin-bottom:5px;
            }
        }
    }
}

@import "mob.less";
@import "chart.less";
@teal: #238;
@import "splash.less";
