
body {
    font-family:lato;
}
.laxCover {
    margin-bottom:60px;
    position:relative;
    float:left;
    clear:both;
    width:100%;
    background:white;
    img {
        //border-radius:50%;
    }
}
.trans {
    background:transparent !important;
    > * {
        background:transparent !important;
    }

    &.hours{
        height:475px;
        margin-bottom:730px;
    }
}
.boxes {
    position:relative;
    //float:left;
    overflow:hidden;
    clear:both;
    width:100%;
    color:@mainColor;
    font-weight:bold;
    margin:100px auto;
    background:white;
    &.b2 {
        >div {
            width:29%;
            min-width:180px;
            margin:10px 10%;
            float:left;
            position:relative;
            text-align:center;
            .head {
                font-size:24px;
                margin-bottom:24px;
            }
        }
        [cms-text] {
            position:relative;
        }
        .fa-pencil {
            margin:0px 5px;
            color:#444;
            position:absolute;
            cursor:pointer;
            transition:200ms;
            &:hover {
                opacity:0.5;
            }
        }
    }
}

.outterWrap {
    width:100%;
    position:relative;
    float:left;
    text-align:center;
    .innerWrap {
        display:inline-block;
        &.i2 { width:45%; }
        &.i3 { width:31%; }
        &.i4 { width:22%; }
        &.i5 { width:18%; }
    }
}
/* Moved to popup.less BEGIN
.editMap, .editMapLink {
    //position:absolute;
    //top:-160px;
    //left:0px;
    background:rgba(0,21,126,0.1);
    border-radius:4px;
    padding:10px;
    z-index:10;
    input {
        padding:8px;
        margin:3px;
        border-radius:4px;
        border:1px solid #ccc;
        width:91% !important;
    }
    button {
        .button1;
        font-size:12px;
        background:darken(#2974a4, 15%);
        margin-top:5px;
    }
}
.editMapLink {
    bottom:-100px;
    top:auto;
    input {
        margin:3px 0px !important;
    }
}
Moved to popup.less END */
.lolaSlide {
    min-height:640px;
    [cms-img-slide] {
        //position:relative;
        i {
            position:absolute;
            top:15px;
            z-index:200;
            left:15px;
            padding:9px;
            border-radius:4px;
            background:rgba(0,0,0,0.8);
            color:#fff;
        }
    }
}
[back-img] {
    position:absolute;
    float:left;
    width:100%;
    height:auto;
    [sepia] {
        filter:sepia(60%);
    }
}
.addMap {
    float:left;
    margin-top:20px;
    width:100%;
    button {
        .button1;
    }
}
.imgOverlay {
    background-image:url('../../files/bb0503c3-011c-ac3f-8332-bef5ac0faab3/heads/lola_rose.png');
    float:left;
    width:70%;
    background-size:contain;
    background-repeat:no-repeat;
    position:absolute;
    top:200px;
    height:630px;
    left:30%;
    z-index:4;
}
