@lHeader: linear-gradient(#111, #222);
@lHeader: linear-gradient(to left, darken(@emBg, 10%), darken(@emBg, 20%));
@lHeaderRev: @lHeader;

.list  {
    position:relative;
    float:left;
    margin:10px 0px;
    box-shadow: 0 0 6px 2px #aaa;
    box-shadow:@crazyBS;
    min-width:70%;
    background:@backdrop;
    background:rgba(0,0,0,0.05);
    border-radius:2px;
    overflow:hidden;
    text-align:left;
    float:none;
    display:inline-block;
    max-width:99%;
    border-radius:4px;
    i.fa-hand-o-up {
        color:white;
        padding-right:5px;
        font-size:18px;
    }
    .listHeader {
        background:@lHeader;
        width:100%;
        margin-bottom:-30px;
        min-height:60px;
        position:relative;
        float:left;
        clear:both;
        overflow:auto;
        padding:6px 8px 8px 12px;
        h2 { 
            font-size:1.3em; 
            color:@third;
            margin:8px 0 8px;
            width:100%;
            i { margin-left:12px; cursor:pointer; }
            .notify {
                background:#eee;
                position:absolute;
                top:0px;
                right:20px;
                font-weight:bold;
                min-height:26px;
                min-width:100px;
                border-bottom-left-radius:2px;
                box-shadow:0px 0px 4px -1px #fff;
                font-size:13px;
                span {
                    color:green;
                    float:right;
                    padding:7px;
                    i { font-size:20px !important; }
                    &.del {
                        color:#990000;
                        transition:150ms;
                        i { margin-left:5px; }
                    }
                }
            }
            .manage {
                right:0px;
                cursor:pointer;
                transition:150ms;
                font-size:14px;
                text-decoration:underline;
                font-weight:bold;
                margin-left:12px;
                &:hover .fields {
                    opacity:1;
                    pointer-events:all;
                    border-radius:8px
                }
                .fields {
                    opacity:0;
                    pointer-events:none;
                    transition:400ms;
                    position:absolute;
                    right:0px;
                    top:0px;
                    left:0px;
                    bottom:0px;
                    padding:4px 0px 0px 4px;
                    background:@lHeader;
                    button {
                        //background:lighten(@secondary, 80%);
                        background:rbga(255,255,255,0.8);
                        //box-shadow:1px 1px 3px -1px;
                        box-shadow:3px 4px 7px -4px;
                        //border:1px solid #000;
                        color:#222;
                        cursor:pointer;
                        border-radius:2px;
                        font-size:13px;
                        margin:3px;
                        padding:3px 7px;
                        font-weight:bold;
                        opacity:1;
                        &.back { 
                            float:right;
                            //background:lighten(@secondary, 75%); 
                            //background:rgba(255,255,255,0.2);
                            &:hover { opacity: 0.5; }
                        }
                        &.field {
                            &.inactive { 
                                opacity: 0.3;
                                border:1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    list-buttons {
        button {
            i:hover { transform:scale(1.25); }
        }
    }
    .listContent {
        position:relative;
        float:left;
        clear:both;
        overflow:auto;
        max-width:99%;
        padding:6px 8px 8px 0px;
        select {    
            margin-top:4px; 
            margin-right:6px; 
            background:lighten(@secondary, 80%);
            box-shadow:0px 0px 1px 0px #000;
            border:none;
            height:25px;
            font-size:13px;
        }
        input[type="text"] {
            white-space:nowrap;
            border:none;
            padding:5px 2px 5px 6px;
            margin:2px 2px;
            border-radius:2px;
            width:140px;
            font-size:0.85em;
            overflow:hidden;
            background:rbga(255,255,255,0.90);
            text-overflow:ellipsis;
            box-shadow:0px 0px 1px 0px #222;
            color:#000;
        }
        input[type="checkbox"] {
            width:34px;
            float:none;
            margin-top:10px;
            margin-left:28px;
        }
        input {
            &.small     { width: 60px; }
            &.med       { width: 80px; }
            &.large     { width: 140px; }
            &.xlarge    { width: 190px; }
            &.huge      { width: 300px; }
            &.checkbox  { width: 55px; }
            &[readonly] { background:#f8f2e0; }
        }
        .headersWrap {
            width:99%;
            white-space:nowrap;
            float:left;
            margin-bottom:7px;
            margin-top:-4px;
            input[type="text"] {
                position:absolute;
                z-index:1000;
                width:75%;
                margin-top:-8px;
                margin-left:-1px;
            }
        }
        .row {
            white-space:nowrap;
            padding:0px 0px 0px 14px;
            clear:both;
            label {
                position:relative;
                clear:none;
                width:@fldWidth;
                padding:2px 4px;
                margin:2px 2px;
                display:inline-block;
                color:@third;
                font-style:normal;
                font-weight:bold;
                font-size:13px;
                &.small     { width: 60px; }
                &.med       { width: 80px; }
                &.large     { width: 140px; }
                &.xlarge    { width: 190px; }
                &.huge      { width: 300px; }
                &.checkbox  { width: 55px; }
            }
            button { 
                background:transparent;
                font-size:1.2em;
                color:darken(green, 12%);
                i {
                    cursor:pointer;
                    transition:200ms;
                }
                &:hover { color:lighten(green, 12%); }
                &.del, &.trash { color:darken(#a00, 12%); }
                &.addRow {
                    &.active {
                        pointer-events:none;
                        opacity:0.3;
                        transition:200ms;
                    }
                }
                i.fa-plus-square {
                    width:32px; 
                    color:#28f; 
                    font-size:1.2em; 
                    font-weight:bold;
                    margin-left:0;
                    opacity: 0.7;
                    box-shadow:none;
                    &:hover { opacity:1; }
                }
               // &.pencil { color:#24a; }
            }
        }
    }
    .pager {
        border-top-right-radius:0px;
        border-top-left-radius:0px;
        padding:6px 0;
        float:left;
        position:relative;
        clear:both;
        width:100%;
        background:@lHeaderRev;
        color:lighten(@third, 20%);
        margin-bottom:0px;
        min-height:0px;
        overflow:visible;
        i {
            font-size:18px;
            margin:-1px 8px 0px 8px;
            color:lighten(@third, 20%);
            cursor:pointer;
        }
        span {
            font-size:12px;
            padding-left:12px;
        }
        button {
            font-size:13px;
            background:transparent;
            color:#888;
            border:none;
            cursor:pointer;
            border:1px solid transparent;
            border-radius:15px;
            transition:400ms;
            i {
                margin:0px 2px -2px 2px;
                color:darken(@third, 50%);
                float:left;
            }
            &:hover, &.active,
            &.upDown {
                background:transparent;
                border:1px solid #aaa;
                color:white;
                background:rgba(255,255,255,0.2);
            }
            &.upDown {
                background:rgba(0,0,0,0.4);
                //border:1px solid #000;
                border:none;
                box-shadow:1px 1px 2px 0px #000;
                border-radius:4px;
                i {
                    font-size:13px;
                    color:#ddd;
                    margin:2px 4px 0px 0px;
                }
            }
        }
        .pageList {
            float:left;
            padding:0 2px;
            i { color:#fff; }
            button { 
                color:white;
            }
            &:hover .pagesPopUp {
                display:block;
                box-shadow:3px 3px 9px #143;
            }
            .pagesPopUp {
                padding:8px;
                margin-right:3px;
                border-radius:8px;
                display:none;
                position:absolute;
                min-height:20px;
                bottom:0px;
                left:4px;
                background:@lHeaderRev;
                button {
                    float:left;
                    width:30px;
                    border:1px solid transparent;
                    border-radius:3px;
                    color:#888;
                    &:hover {
                        color:white;
                        border:1px solid white;
                    }
                }
            }
        }
    }
    /*
    &[list-type='users'] {
        float:none;
        //overflow-y:auto;
        .headersWrap {
            margin-top:0px;
        }
        .listContent {
            width:100%;
            max-height:66vh;
            padding:0px 10px 8px 0px;
            input[type="checkbox"] {
                float:none;
                width:24px;
            }
            label.checkbox { width: 45px; }
            select { float:left; }
        }
    }
    &[list-type='beacons'] {
        .listContent {
            width:100%;
            .row {
                input[type="checkbox"] {
                    width:34px;
                    margin-left:28px;
                }
            }
            select {
                margin:1px 3px 0px 2px;
            }
        }
    }
    &[list-type='zones'] {
        >div {
            //width:98%;
            width:100%;
            //max-width:640px;
        }
    }
    &[list-type='blacklist'] {
        input[type="checkbox"] {
            float:none;
        }
    }
    */
} // .list
