@lHeader: linear-gradient(#111, #222);
@lHeader: linear-gradient(to left, darken(@baseBg, 10%), darken(@baseBg, 20%));
@lHeaderRev: @lHeader;
@third: #ccc;
[lst] {
    div.content {
        max-height:320;
        float:left;
        overflow:auto;
        width:100%;
        ul {
            &:nth-child(even) {
                background:#eee;
            }
        }
    }
    ul {
        width:100%;
        //position:relative;
        float:left;
        clear:both;
        cursor:pointer;
        &.active {
            background:lighten(@baseBg, 50%) !important;
            color:#333;
        }
        &.red { color:#c12929; }
        &.yellow { color:darken(#8a8a40, 15%); }
        &.red, &.yellow {
            //padding:5px 0px 0px;
            //font-size:14px;
        }
        li {
            position:relative;
            float:left;
            margin:6px;
            min-width:80px;
            text-align:center;
            &.fa { 
                width:24px; 
                min-width:24px; 
                font-size:22px; 
                float:right;
            }
            .fa-plus { color:#215821; }
            .fa-close,
            .fa-eraser { color:#963c3c; }
            .fa-pencil { color:#797918; }
            .fa-filter { color:#5779a7; font-size:22px; }
            .active { color:red; }
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            &.left {
                text-align:left;
            }
            &.right {
                text-align:right;
            }
            &.num {
                //text-align:right;
                text-align:center;
                min-width:65px;
                border:1px solid transparent;
                input {
                    text-align:right;
                    min-width:50px;
                    width:50px;
                }
            }
            &.name {
                width:100px;
                input {
                    width:72px;
                }
            }
            &.med {
                width:140px;
                input {
                    width:100px;
                }
            }
            &.big {
                width:200px;
                input {
                    width:100px;
                }
            }
            &.huge {
                width:300px;
                input {
                    width:100px;
                }
            }
            &.wideOnly {
                @media only screen and (max-width: 966px) {
                    //display:none;
                    width:98px;
                    input {
                        width:90px;
                    }
                }
            }
            &.wideOnly1 {
                @media only screen and (max-width: 966px) {
                    width:98px;
                    input {
                        width:90px;
                    }
                }
                @media only screen and (max-width: 880px) {
                    display:none;
                }
            }
            &.wideOnly2 {
                font-size:14px;
                @media only screen and (max-width: 1268px) {
                    display:none;
                }
            }
            &.wideOnly3 {
                font-size:14px;
                @media only screen and (max-width: 1530px) {
                    display:none;
                }
            }
        }
        &.labs {
            min-height:40px;
            li {
                font-weight:bold;
                text-align:center;
                font-size:14px;
                color:#222;
                line-height:24px;
                &.lab {
                    float:right;
                    color:#5779a7; 
                    font-style:italic;
                    font-weight:bold;
                    font-size:1.1em;
                }
                cursor:pointer;
                transition:300ms;
                .fa { 
                    opacity:0; 
                    color: #16653d;
                    transition:500ms ease-out;
                }
                &.active,
                &:hover {
                    .fa {opacity:1; }
                }
            }
        }
        &.labs, &.filters {
            background:lighten(@baseBg, 35%);
        }
        &.filters {
            .show { display:inline-block; }
            .hide { display:none; }
            input {
                border-radius:4px;
                border:none;
                box-shadow:@crazyBSinput;
                padding:4px;
                margin:1px;
            }
            .filterButtons {
                position:absolute;
                top:59px;
                right:1px;
                button {
                    float:right;
                    border-radius:4px;
                    box-shadow:@crazyBS;
                    clear:both;
                    font-family:lato;
                    background:darken(@baseBg, 15%);
                    color:#fff;
                    padding:8px 11px;
                    width:100px;
                    margin:0px 4px 4px 4px;
                    font-size:13px;
                    font-weight:bold;
                    &.andOr {
                        opacity:0;
                    }
                }
            }
        }
    } 
}
/*
.pager {
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    padding:6px 0;
    float:left;
    position:relative;
    clear:both;
    width:100%;
    background:@lHeaderRev;
    color:lighten(@third, 20%);
    margin-bottom:0px;
    min-height:0px;
    overflow:visible;
    i {
        font-size:18px;
        margin:-1px 8px 0px 8px;
        color:lighten(@third, 20%);
        cursor:pointer;
    }
    span {
        font-size:12px;
        padding-left:12px;
    }
    input {
        width:40px;
    }
    button {
        font-size:13px;
        background:transparent;
        color:#888;
        border:none;
        cursor:pointer;
        border:1px solid transparent;
        border-radius:15px;
        transition:400ms;
        i {
            margin:0px 2px -2px 2px;
            color:darken(@third, 50%);
            float:left;
        }
        &:hover, &.active,
        &.upDown {
            background:transparent;
            border:1px solid #aaa;
            color:white;
            background:rgba(255,255,255,0.2);
        }
        &.upDown {
            background:rgba(0,0,0,0.4);
            //border:1px solid #000;
            border:none;
            box-shadow:1px 1px 2px 0px #000;
            border-radius:4px;
            i {
                font-size:13px;
                color:#ddd;
                margin:2px 4px 0px 0px;
            }
        }
    }
    .pageList {
        float:left;
        padding:0 2px;
        i { color:#fff; }
        button { 
            color:white;
        }
        &:hover .pagesPopUp {
            display:block;
            box-shadow:3px 3px 9px #143;
        }
        .pagesPopUp {
            padding:8px;
            margin-right:3px;
            border-radius:8px;
            display:none;
            position:absolute;
            min-height:20px;
            bottom:0px;
            left:4px;
            background:@lHeaderRev;
            button {
                float:left;
                width:30px;
                border:1px solid transparent;
                border-radius:3px;
                color:#888;
                &:hover {
                    color:white;
                    border:1px solid white;
                }
            }
        }
    }
}
*/
