@menuText: #37373a;
@menuHoverText: @mainColor;
@menuActiveText: #fff;
@menuActiveBg: #222;
@shadowMenu: 0 1px 3px 0 rgba(0, 0, 0, 0.0), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

#menu {
    box-shadow:0px 0px 3px -1px #aaa;
    position:fixed;
    top:0;
    left:0;
}

.menuLogin {
    z-index:1001;
    position:fixed;
    top:70px;
    font-size:32px;
    color:white;
    right:10px;
    .fa-key {
        color: transparent;
        transition:800ms;
        font-size:56px;
        &:hover {
            color:#ccc;
        }
    }
}

[menu] {
    width:100%;
    z-index:1000;
    /*
    [before-menu] {
        float:left;
        .beforeMenuWrap {
            .commander {
                padding:16px 9px;
                text-align:center;
                max-width:275px;
                text-transform:uppercase;
                color:#fff;
                background-color:#ff9077;
                letter-spacing:2px;
                width:100%;
                display:block;
                font-size:14px;
                position:relative;
                font-weight:bold;
            }
        }
    }
    */
    ul {
        transition:0.8s;
        padding:0px;
        position:relative;
        margin:0px;
        text-align:center;
       //display:flex;
       //flex-direction:row;
        width:100%;
        //background:linear-gradient(#111, #222);
        //background:linear-gradient(rgba(17,17,17,0.99), rgba(17,17,17,0.7));
        background:#fff;
        float:left;
        //box-shadow:0px 1px 5px -1px #000;
        //min-height:48px;
        //height:@headerHeight;
        li {
            cursor:pointer;
            border-radius:0px;
            outline:none;
            flex-grow:1;
            display:inline-block;
            padding:6px 12px 3px 5px;
            margin:0;
            //hack 
            //letter-spacing:0.6px;
            font-weight:bold;
            font-size:18px;
            color:#000;
            transition:300ms;
            position:relative;
            box-shadow:1px 0px 2px -1px #000;
            span.wide {
                white-space:nowrap;
                @media screen and (max-width: 645px) {
                    //display:none;
                }
            }
            &:hover {
                background:#000;
                color:lighten(@secondary, 20%);
                i {
                    color:lighten(@secondary, 20%);
                }
            }
            &.active {
                background:@secondary;
                //color:#eee;
                color:@mainColor;
                pointer-events:none;
            }
            &.infraTab {
                &:hover .subMenu {
                    max-height:100px;
                }
                .subMenu {
                    max-height:0px;
                    overflow:hidden;
                    transition:200ms;
                    position:absolute;
                    left:0px;
                    width:100%;
                    border-bottom-right-radius:8px;
                    border-bottom-left-radius:8px;
                    box-shadow:1px 8px 12px -7px #000;
                    ul {
                        background:#000;
                        opacity:0.95;
                        display:inline-block;
                        margin-top:3px;
                        padding:2px 0px 5px;
                        border-bottom-right-radius:8px;
                        border-bottom-left-radius:8px;
                        border-top:none;
                        li {
                            font-size:13px;
                            padding:10px 5px 5px;
                            display:block;
                            box-shadow:none;
                            border-radius:8px;
                            margin-left:5px;
                            i {
                                margin:0px 5px;
                                float:left;
                            }
                        }
                    }
                }
            }
        }
    }
    .subMenuPane {
        position:fixed;
        background:#eee;
        top:70px;
        right:214px;
        border:1px solid black;
        padding:20px;
        .head {
            width:160px;
        }
        ul {
            width:190px;
            li {
                width:100%;
                position:relative;
                float:left;
                text-align:center;
            }
        }
    }
}
[before-menu] {
    float:left;
    min-width:480px;
    .beforeMenuWrap {
        > div, a {
            float:left;
            display:inline;
        }
        .commander {
            padding:20px 12px 18px;
            text-align:center;
            max-width:275px;
            text-transform:uppercase;
            color:#fff;
            background-color:#ff9077;
            letter-spacing:2px;
            display:block;
            font-size:14px;
            position:relative;
            font-weight:bold;
        }
    }
}
@shrinkWidthMid: 1200px;
@shrinkWidth: 1000px;
//@shrinkWidthMid: 1000px;
//@shrinkWidth: 800px;
.genMenu,
[middle-menu] {
    float:right;
    i {
        display:none;
        font-size:32px;
        position:fixed;
        top:12px;
        right:80px;
        transition:300ms;
        transition-property:transform color;
        cursor:pointer;
        padding:13px 5px 10px;
        background:#fff;
        z-index:100;
        top:0;
        &:hover {
            color:@mainColor;
        }
        &.active {
            transform:rotate(90deg);
            background:transparent;
        }
    }
    .menuItems {
        margin:0;
        padding:0;
        position:fixed;
        //left:412px;
        right:100px;
        transition:800ms;
        //left:34%;
        max-height:55px;
        overflow:hidden;
        margin-right:0px;
        opacity:1;
        &.active {
            //left:100%;
            margin-right:-100%;
            opacity:0;
            transition:1400ms;
        }
    }
    @media (max-width: @shrinkWidth) {
        position:fixed;
        .menuItems {
            display:none;
            //left:50px;
            top:55px;
            //right:150px;
            /*
            &.active {
                display: block;
                background:white;
                a {
                    position:relative;
                    width: 100%;
                    float:left;
                    margin-bottom:1px dotted #777;
                }
            }
            */
        }
    }
    @media (max-width: @shrinkWidthMid) {
        .fa-bars {
            display:inline-block;
        }
        .menuItems {
            right:135px;
            a {
                &:last-child, &:nth-last-child(2) {
                    display:none;
                }
            }
        }
    }
    a {
        text-decoration:none;
        li {
            color:#373737;
            text-transform:uppercase;
            font-size:12px;
            font-weight:700;
            letter-spacing:1px;
            box-shadow:none;
            padding:20px 15px;
            pointer-events:none;
        }
    }
}
@headerHeight:55px;
.respMenu.ng-hide {
    display:block !important;
    max-height:0px;
    overflow:hidden;
    opacity:0;
}
.respMenu {
    position:fixed;
    top:@headerHeight;
    right:0px;
    background:#fff;
    max-height:800px;
    opacity:1;
    transition:500ms;
    .menuItems {
        box-shadow:@shadowMenu;
        a {
            text-decoration:none;
            li {
                display:block;
                text-transform:uppercase;
                padding:22px 58px;
                color:@menuText;
                box-shadow:none;
                font-size:0.8em;
                letter-spacing:1px;
                &:hover {
                    color:@menuHoverText;
                }
                &.active {
                    color:@mainColor;
                }
            }
        }
    }
}

[after-menu] {
    float:right;
    color:#373737;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    box-shadow:none;
    padding:20px 15px;
    pointer-events:none;
    margin-left:10px;
    position:fixed;
    right:0px;
    background:#fff;
    z-index:100;
    .selected {
        color:@mainColor;
    }
}

