#header {
    @media screen and (max-width: 700px) {
        display:none;
    }
}
#content{
    @media screen and (max-width: 700px) {
        margin:0;
        padding:0;
    }
}
@listBg:#fff;
@cBlue:#037;
@cRed:#601;
@cGreen:#162;
@cYellow:#cc9500;

#menu {
    ul {
        li {
            margin:0;
            padding:0 8px 0 0;
            a {
                width:100%;
                i {
                    text-align:left;
                }

                font-size:18px;
                text-decoration:none;
                color:#eee;
                font-weight:normal;
                font-style:italic;
            }
        }
    }
}

i.fa-search     { color:blue; }
i.fa-envelope-o {color:green;}
i.fa-pencil     {color:@cGreen;}
i.fa-ban        {color:@cRed;}
i.fa-eraser,
i.fa-close      {color:#a00;}
i.fa-eye        {color:@cBlue;}
i.fa-share      {color:@cGreen;}
i.fa-download   { color:#050; }
i.fa-bullhorn,
i.fa-plus       { color:#282; }
i.fa-user       { color: #037;  }
i.fa-users      { color: #037;  }
.fa-user { float:none; }
i.fa-file       { color: #834;   }
i.fa-gears      { color: #162 }
i.fa-gear       { color: #162; }
i.fa-phone      { color: #162; }
i.fa-tv         { font-weight:bold; }
i.fa-legal      { color: @cYellow; }
i.fa {
    &.button     { 
        font-size:1.2em; 
        padding:8px !important; 
        //border:2px solid #ddd; 
        //border-radius:8px; 
        text-align:center;
        box-shadow: 2px 2px 5px 0px #ddd;
    }
    &.two {
        width:42%;
    }
    span {
        font-family:helvetica;
        &.small {
            font-size:12px;
        }
    }
}
.right { float:right; }

    .login {
        float:none;
        width:auto;
        font-size:14px;
        margin-top:6px;
        //background:rgba(0,0,0,0.95);
        border-radius:5px;
        //text-shadow:1px 1px #000;
        //color:lighten(@secondary, 80%);
        font-weight:bold;
        font-size:13px;
        color:#eee;
        .inputs {
            position:relative;
            float:left;
            margin: 4px 8px 2px 4px;
            width:97%;

            label, input {
                margin-bottom:5px;
                font-size:1.6em;
                min-width:97%;
                color:black;
                margin-top:8px;
            }
            label {
                display:block;
                margin-top:2px;
                padding-top:5px;
            }
            input {
                display:block;
            }
        }
        i {
            font-size:16px;
            margin:0px 2px;
            float:none;
        }
        button {
            position:relative;
            float:left;
            background:lighten(@secondary, 85%);
            color:darken(@secondary, 10%);
            font-weight:bold;
            font-size:1.3em;
            padding:3px 7px;
            box-shadow:1px 1px 3px -1px #000;
            border-radius:4px;
            height:44px;
            margin:4px;
            width:47%;
            &:hover {
                box-shadow:0px 0px 6px 0px #000;
                background:#aaa;
            }
            &.full {
                width:97%;
            }
        }
        input, label {
            position:relative;
            float:left;
        }
        input {
            border-radius:2px;
            border:none;
            padding:2px 4px;
            box-shadow:1px 1px 3px -1px #333;
            font-size:13px;
            background:#fff;
            width:auto;
            max-width:120px;
        }
        label {
            margin:0px 8px 0px 4px;
            &#username { 
                margin:16px 19px 0px 0px;
                font-weight:bold;
                color:black;
                font-size:1.4em;
                float:right;
           }
        }
        .pers {
            position:relative;
            float:left;
            color:black;
            label { clear:left; }
        }
    }
.mob {
    overflow-y:auto;
    position:relative;
    float:left;
    max-height:100%;
    width:100%;
    @media screen and (min-width: 700px) {
        //max-width:680px;
        //border:2px solid #888;
        //padding:4px;
        //position:relative;
        //float:none;
        //border-radius:8px;
        //height:600px;
        //margin:0 auto;
    }
    popup {
        position:relative;
        float:left;
        z-index:4;
        //border:2px solid #eee;
        top: 0;
        left:0;
        width:98%;
        background:white;
        padding:2px 0 2% 2%;
        input {
            width:90%;
            margin:8px 1% 8px 0;
            border-radius:8px;
            box-shadow:1px 1px 5px 1px #ddd;
            padding:3%;

        }
        span.dir {
            font-size: 1.3em;
            font-style:italic;
            color:@cBlue;
            font-weight:bold
        }
        .fa {
            &.button {
                margin:5px 0% 8px 2%;
            }
        }
    }
    .alist-base {
        float:left;
        width:98%;
        background: white;
        font-size:1.0em;
        border:none;
        border-radius:0;
        padding:11px 0 11px 2%;
        cursor:pointer;
        white-space:nowrap;
        color:#812;
        text-overflow:ellipsis;
        font-style:italic;
        border-top:1px dotted #888;
    }
    .slide {
        .alist-base;
        color:black;
        opacity:0.5;
        &.active {
            opacity:1;
        }
    }
    .clist-base {
        .alist-base;
        background:white;
        padding:14px 0 14px 16px;
        //background:lighten(#121b0b, 7%);
    }
    /*
    .bottomMenu {
        position:fixed;
        bottom:0;
        right:0;
        width:100%;
        max-height:0px;
        background:transparent;
        margin-top:8px;
        z-index:1000;
        transition:800ms;
        &.active{
            max-height:92%;
        }
        .stay {
            float:right;
            position:fixed;
            bottom:0;
            right: 0;
            font-size:1.8em;
            margin: 4px;
            z-index:1001;
            background:white;
            height:0;
            margin:-34px 0 0 0;
            color:white;
            background:lighten(#122b0b, 7%);
            padding:9px;
            height:30px;
            border-top-left-radius:8px;
            i {
                color:white;
            }
        }
    }
    */
    .underLayer {
        opacity:0.1;
        position:fixed;
        top:76px;
        left:0;
        right:0;
        bottom:0;
        z-index:9;
        background:#000;
    }
    >div {
        position:relative;
        float:left;
        width:100%;
        /*
        &.bottomUp {
            position:fixed;
            bottom:0;
            left:0;
            max-height:0;
            background:white;
            z-index:10;
            overflow:hidden;
            transition:400ms;
            &.active {
                max-height:80%;
            }
        }
        */
        &.leftSlide {
            color:black;
            position:fixed;
            top:76px;
            bottom:32px;
            left:-84%;
            width:84%;
            background:white;
            z-index:10;
            overflow-y:hidden;
            .fa.action {
                padding:8px 6%;
                margin:7px 0 7px 4%;
                box-shadow:2px 3px 5px 0px #888;
            }
            input {
                width:93%;
                padding:3px 1%;
                margin:4px 0 8px 2%;
            }
            &.active {
                box-shadow:11px 9px 64px 1px #888;
                border-top-right-radius:8px;
                border-bottom-right-radius:8px;
                border:2px solid #ccc;
                border-left:none;
                transform: translate(100%, 0);
                transition: transform 0.5s ease;
            }
            &.slideOut {
                transform: translate(0px, 0);
                transition: transform 0.5s ease;
            }
            .head {
                font-size:18px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                padding-top:6px;
                color:@cGreen;
                font-style:italic;
                font-weight:normal;
            }
        }
        .slideWrap {
            position:absolute;
            float:left;
            overflow-y:auto;
            max-height:88%;
            top:8%;
        }
    }
    .head {
        //text-align:center;
        font-size:1.4em;
        font-weight:bold;
        width:98%;
        padding-left:2%;
        color:@cBlue;
        margin:4px 0;
        i.fa-plus {
            //margin-left:20px;
        }
        span {
            font-size:14px;
            color:@cRed;
            font-style:italic;
            float:right;
            margin-right:4px;
        }
    }
    .tab {
        background:white;
        z-index:2;
        margin-bottom:18px;
        position:relative;
        float:left;
        width:100%;
        &>div{ 
            width:34%;
            padding:8px;
            font-size:1.2em;
            position:relative;
            float:left;
            border:none;
            box-shadow:3px 3px 5px 0px #888;
            text-align:center;
            margin:9px 2% 0;
            &.active {
                background:#122b0b;
                color:white;
            }
            &.refresh {
                width:5%;
                border:none;
                padding:7px 2% 5px 3%;
                border-bottom-right-radius:4px;
                i {
                    font-size:1.2em;
                }
            }
        }
    }
    input[type="submit"],
    input[type="file"] {
        font-size:1.2em;
        width:88px;
        opacity:0;
        margin:-10px 0 -10px -88px;
        overflow:hidden;
    }
    .detail {
        .pane {
            width:100%;
            position:relative;
            float:left;
            clear:both;
            padding-bottom:9px;
            border-bottom:1px solid #ccc;
            button.text {
                background:transparent;
                color:black;
                margin-bottom:0;
                padding-bottom:0;
            }
        }
        button, input, label {
            font-size:1.1em;
        }
        input, label {
            position:relative;
            float:left;
        }
        label {
            color:@cBlue;
            min-width:26%;
            margin:11px 0 3px 4px;
            clear:left;
        }
        span.required {
            font-size:12px;
            color:red;
        }
        input[type="text"] {
            border:none;
            box-shadow:1px 1px 12px 2px #eee;
            padding:5px;
            margin:2px  4px 2px 0;
            border-radius:4px;
            //min-width:50%;
            min-width:64%;
            max-width:64%;
            float:right;
            clear:right;
            font-family:monospace;
            font-size:1.2em;
        }
    }
    .bshare {
        //float:right;
        width:100%;
        position:relative;
        float:right;
        margin-bottom:5px;
        margin-top:5px;
        padding-bottom:5px;
        border:2px dashed #ddd;
        border-right:none;
        border-top:none;
        input {
            &.wide {
                width:98%;
                margin-top: 8px;
                border:1px solid #ccc;
                border-radius:6px;
                padding:3px;
            }
        }

        button  {
            text-align:left;
            width:100%;
            border:1px dotted #aaa;
            padding:8px;
            margin:3px 0;
            background:ivory;

            i {font-size:1.2em; font-weight:bold; height:12px; }
            .three {
                text-overflow:ellipsis;
                overflow:hidden;
                background:white;
                text-align:center;
                margin: 6px 0 6px 1%;
                padding:3px 10px;
                border:none;
                box-shadow:2px 2px 3px 1px #bbb;
                width:31%;
                &.right {
                    float:right;
                }
                &.wide {
                    width:98%;
                }
                &.half {
                    width:49%;
                    margin:0 1% 0 0;
                    min-height:58px;
                    float:left;
                }
                a {
                    text-decoration:none;
                    color:black;
                }
            }
            &.three { .three; }
            &.four {    
                .three; 
                width:23%;
                font-size:14px;
            }

            &.two {
                .three;
                width:48%;
                margin: 6px 0 6px 1%;
            }
            &.revoke {
                background:darken(@cGreen, 8%) !important;
                color:white;
                padding:1px 0 8px 0;
                text-align:left;
            }
        }
    }
    .fileButtons {
        float:right;
        width:100%;
        margin:0px;
        font-size:16px;
        position:relative;
        float:left;
        padding:4px 0 0 0px;
        font-style: italic;
        font-weight: normal;
        text-align:left;
        color:#040;
        //box-shadow:0 0 10px 0 #ddd;
        .bshare {
            width:95%;
            padding:9px 2% 12px 0;;
            margin-left:1%;
        }
        button {
            float:right;
            font-size:16px;
            padding:0px 4px 0 0;
            border: none;
            max-width:96%;
            min-width:48px;
            margin-right:2%;
            &.active {
                color:white;
                background:black;
            }
        }
        &.active {
            background:#eee;
        }
    }
    .name {
        float:left;
        margin:16px 0 6px 0;
        max-width:78%;
        padding:0 0 0 4%;
        transition:400ms;
        text-overflow:ellipsis;
        overflow:hidden;
        &.active {
            font-size:20px;
            font-weight:bold;
        }
    }
    .alist {
        .dir {
            font-size:1.2em;
        }
        .alist-base;
        i {
            font-weight:bold;
            font-size:18px;
            margin:0 4px 0 8px;
            padding:10px 0 12px 0px;
            background:transparent;
            &.fa-pencil {
                float:left;
            }
        }
        transition:400ms;
        opacity:0.6;
        &.active {
            text-align:center;
            font-weight:bold;
            font-size:1.2em;
            opacity:1;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        &.detail {
            margin:2px 4px;
            width:98%;
        }
        .fa-upload {
            float:right;
            margin: -1px 2% 0 0;
            span {
                font-size:14px;
                font-weight:normal;
            }
        }
        .upload {
            position:absolute;
            right:92px;
            top:10px;
            &.fa {
                margin-right:8px;
                color:lighten(green, 12%);
                &.fa-close {
                    color:red;
                }
            }
        }
    }
    &.activities {
        .alist {
            color:black;
            background:white;
            span {
                font-size:16px;
                &.lab {
                    font-size:18px;
                    font-style:italic;
                    color:green;
                }
                &.small {
                    font-size:13px;
                    font-weight:bold;
                }
            }
            i.fa-bullhorn,
            i.fa-plus,
            i.fa-user {
                float:left;
                margin-right:12px;
            }
            i.fa-plus {  margin-right:0; }
            .short {
                white-space: normal;
                font-size:14px;
                color:@cBlue;
                width:88%;
                padding:6px;
                margin:3px 0;
                box-shadow:1px 1px 12px 1px #ddd;
                float:right;
            }
            transition:300ms;
            &.active {
                text-align:left;
                background:darken(ivory, 3%);
                .short {
                    background:white;
                }
            }
        }
    }
    .bottom {
        position:fixed;
        //bottom:0; 
        left:0;
        max-height:92%;
        overflow-y:auto;
        .listContent {
            position:relative;
            float:left;
            margin:52px 0 24px;
        }
    }
    &[mob-files] {
        .bottom {
            z-index:1;
        }
    }
    .frameWrap {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1010;
        background:white;
        iframe {
            position:fixed;
            bottom:0;
            left:0;
            height:90%;
            width:100%;
            z-index:1000;
        }
        button {
            width:100%;
            height:10%;
        }
    }
    [ng-class="selDir==dir|checkActive"] {
        position:relative;
        float:left;
        width:99%;
    }
    .underContent {
        position:fixed;
        bottom:3%;
        right:2%;
        height:24px;
        width:50%;
        >* { float:right; }
        padding-top:8px;
        margin-top:12px;
        font-family:helvetica;
        i.span { font-family:helvetica; }
    }
    &.settings {
        h1 {
            text-align:center;
            font-weight:bold;
            width:100%;
            padding:0;
            margin:12px 0 30px 0;
            color:@cRed;
            font-size:1.5em;
        }
        ul {
            position:relative;
            padding-top:12px;
            li {
                position:relative;
                width:98%;
                margin-left:2%;
                font-size:20px;
                padding:12px 0;
            }
        }
    }
}

@subPosition: relative;
.chromeMsg {
    position:fixed;
    height:90%;
    .head {
        position:@subPosition;
        //top:27%;
        height:24px;
    }
    .slideWrap {
        position:@subPosition;
        //top:32%;
        height:78%;
        overflow-y:auto;
        .alist {
            span {
                position:relative;
                font-size:20px;
                color:#834;
                font-weight:bold;
                opacity:0.2;
                &.multi {
                    opacity:1;
                    box-shadow:2px 2px 5px 0px #888;
                }
                &.button {
                    min-width:30px;
                    text-align:center;
                    padding:3px 0 0px 0;
                    float:right;
                    margin-right:12px;
                }
            }
            min-height:24px;
        }
        .slide {
            >div {
                margin-left:4%;
                max-width:86%;
                min-height:32px;
                transition:300ms;
                &.active {
                    font-weight:bold;
                    font-size:18px;
                    color:#811;
                    text-align:center;
                }
            }
        }
    }
    .alist {
        color:black;
    }
    .buttons {
        position:@subPosition;
        //top:8%;
        height:86px;
        padding-left:1%;
        width:97%;
        margin:8px 0 8px 2%;
        opacity:0.3;
        input {
            border:1px solid #ccc;
            float:left;
            width:80%;
            padding:3px;
            border-radius:5px;
            margin:4px 2% 0px 0;
            min-height:24px;
        }
        label {
            padding-top: 4px;
            display:block;
            float:left;
            font-style:italic;
        }
        &.active { 
            opacity:1 
        }
        margin:8px;
        .urgent {
            //background:@cRed; color:white; 
            box-shadow: 2px 2px 5px 0px @cRed !important;
            color:@cRed;
            &.active { background: @cRed; color:white; }
         }
        .today {
            box-shadow: 2px 2px 5px 0px @cYellow !important;
            color:darken(@cYellow, 10%);
            &.active { background: @cYellow; color:white; }
            }
        .soon {
            box-shadow: 2px 2px 5px 0px @cGreen !important;
            color:@cGreen;
            &.active { background: @cGreen; color:white; }
         }

        button, 
        #cnotif {
            font-size:20px;
            padding: 6px 0;
            font-family:helvetica;
        }

        button {
            width:31%;
            margin: 12px 0 12px 0;
            box-shadow:3px 3px 18px 3px #aaa;
            border:none;
            background:white;
            &.active {
                box-shadow: 1px 1px 12px 3px #aaa;
            }
        }
    }
    .keep{
        position:absolute;
        color:#122b0b;
        font-style:italic;
        text-align:right;
        span {
            font-size:18px;
            color:#122b0b;
            padding-right:10px;
        }
    }
}

#contentRouter {
    >div {
        @media screen and (min-width: 768px) {
            //max-width: 700px;
            max-width:768px; 
            margin:0 auto;
            position:relative;
            float:none;
        }
    }
}
.invDef {
    padding-top: 24px;
    a {
        white-space:nowrap;
        position:relative;
        float:left;
        text-align: center;
        font-size: 1.1em;
        padding: 10% 4%;
        margin: 1% 2% 3%;
        box-shadow: 4px 4px 9px 1px #aaa;
        width:38%;
        //border-radius: 52px;
        text-decoration:none;
        color:black;
        i {
            float:left;
            font-size:32px;
        }
        >div {
            padding-top:9px;
        }
    }
    ul {
        position:relative;
        li {
            margin:5px;
            margin-left:0;
            position:relative;
            &.field {
                border:1px solid black;
                border-radius: 5px;
                padding:6px;
                margin-top:12px;
            }
            label {
                font-size:12px;
            }
            ul {
                margin-left:20px;
                position:relative;
                li {
                    position:relative;
                    input {
                        &.sub {
                            width:75px;
                        }
                        margin-left:4px;
                    }
                    span {
                        &.lab {
                            font-weight:bold;
                            font-style:italic;
                        }
                    }
                }
            }
        }
    }
}

.letters {
    margin:12px;
    li {
        margin:8px;
        width: 26px;
        min-width: 26px;
        text-align:center;
        padding:5px;
        border:1px solid black;
        float:left;
        cursor:pointer;
    }
}
@buttonWidth:180px;
.stock {
    .stockWrap {
        max-height:280px;
        overflow-y:auto;
        float:left;
        border-radius:8px;
        border:1px solid #888;
    }
    ul {
        position:relative;
        float:left;
        clear:both;
        li {
            position:relative;
            float:left;
            margin:6px;
            min-width:80px;
            &.fa { width:24px; min-width:24px; font-size:20px; }
            &.active { color:red; }
            &.num {
                text-align:right;
                min-width:60px;
                border:1px solid transparent;
                input {
                    text-align:right;
                    min-width:60px;
                    width:60px;
                    margin-left:-4px;
                    margin-right:-4px;
                }
            }
            &.name {
                width:100px;
                input {
                    width:100px;
                }
            }
        }
        &.labs {
            li {
                font-weight:bold;
            }
        }
    }

    button {
        margin: 4px 6px;
        border:2px solid black;
        padding:2px;
        border-radius: 5px;
        background:white;
        float:left;
        width:auto;
        transition:300ms;
        height:52px;
        text-transform:capitalize;
        opacity:0.6;
        &.active,
        &:hover { opacity:1; }
        .fa-minus {
            font-size:20px;
            float:right;
            margin-top:-5px;
            margin-right:4px;
            color:#b51718;
            border:1px solid #ccbaba;
            padding:2px 3px;
            border-radius:4px;
        }
        .fa-plus {
            font-size:22px;
            float:left;
            margin-top:-1px;
            margin-left:8px;
        }
        &.save { 
            border:4px solid #306f30; 
            background:white; 
            padding:4px 6px;
            min-width:10px !important;
            height:36px;
            opacity:1;
        }
    }
    &[marked="used"] {
        button {
            min-width:@buttonWidth;
            border:3px solid #b51718;
            background:#fdf9f9;
            //&.active, &:hover { background:#714848; color:white; }
            &.save { border:4px solid #306f30; background:white; color:black; }
        }
    }
    &[marked="order"] {
        button {
            min-width:@buttonWidth;
            border:3px solid #0f2b0f;
            background:#edf5ed;
            &.save { border:4px solid #306f30; background:white; color:black; }
        }
    }
    &[marked="restock"] {
        button {
            min-width:@buttonWidth;
            border:3px solid #303067;
            background:#e7e8f1;
            &.save { border:4px solid #306f30; background:white; color:black; }
        }
    }
}

#contentRouter {
    [options] {
        position:fixed;
        bottom:62px;
        left:0;
        z-index:2000;
        min-height:32px;
        min-width:32px;
        border-top:2px solid black;
        border-right:2px solid black;
        background:white;
        border-top-right-radius:8px;
        h1 {
            width:auto;
            margin:8px;
            i {
                position:relative;
                float:right;
                padding:4px;
                font-size:36px;
            }
        }
        ul {
            position:relative;
            float:left;
            width:0;
            height:0;
            max-height:0;
            opacity:0;
            padding:8px;
            transition:800ms;
            &.active {
                opacity:1;
                width:auto;
                height: auto;
                max-height:auto;
            }
            li {
                position:relative;
            }
        }
    }
}

//input::-moz-placeholder, 
//input:-moz-placeholder,
//input:-ms-input-placeholder,
input::-webkit-input-placeholder { font-size:14px; padding:0 0 3px 2px; }
