
#notifier {
    background:#fff;
    //min-width:500px;
    min-height:35px;
    z-index:20000;
    position:fixed;
    left:50%;
    transform:translate(-50%, 0);
    top:-110px;
    box-shadow:@crazyBS;
    transition:500ms;
    cursor:pointer;
    border-radius:2px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    text-align:center;
    font-size:16px;
    padding-top:15px;
    min-width:200px;
    &.active {
       top:10px; 
    }
    .awesomeBox {
        left:0px;
        top:0px;
        bottom:0px;
        position:absolute;
        width:40px;
        padding:10px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
        text-shadow:1px 1px #222;
        background:darken(@baseBg, 20%);
        color:#eee;
        font-size:26px;
        text-align:center;
        &.check { background: #50a162; }
        &.ban { background: #950000; }
        &.exclamation-circle { background: #ffbd31; text-shadow:none; color:#222; font-size:28px; }
    }
    .notifMsg {
        margin-left:70px;
        margin-right:10px;
        white-space:nowrap;
    }
    .confirmWrap {
        position:absolute;
        bottom:-45px;
        left:0px;
        right:0px;
        text-align:center;
        .yesButton, .noButton {
            width:50px;
            background:#417c81;
            color:#fff;
            text-shadow:1px 1px #333;
            font-weight:bold;
            padding:10px 30px;
            border-radius:30px;
            margin:4px;
            box-shadow:@crazyBS;
            transition:150ms;
            background:linear-gradient(@teal, darken(@teal, 10%));
            &:hover {
                opacity:0.6;
            }
        }
    }
}
