pager-wrap {
    position:relative;
    ul {
        padding:0;
        margin:0;
        text-align:center;
        position:relative;
        li {
            position:relative;
            list-style:none;
            display:inline-block;
            margin-right:8px;
            &:last-child {
                margin-right:0;
            }
            button {
                &.active {
                    font-weight:bold;
                }
            }
            &.perPage {
                position:absolute;
                left:0px;
                top:8px;
                font-weight:bold;
                color:#37373a;
                font-size:12px;
                text-transform:uppercase;
                letter-spacing:0.5px;
            }
        }
    }
}
.pager {
    float:left;
    //background:green;
    width:calc(~"100% - 54px");
    padding:15px;
    margin:12px;
    button {
        background:@mainColor;
        width:29px;
        border-radius:40px;
        font-size:12px;
        border:none;
        padding:7px;
        outline:none;
        transition:200ms;
        &.active {
            background:#37373a;
            color:@mainColor;
        }
    }
}
