@lightBg        : #eee;
@darkBg         : #444;
@highlight      : #24a1a6;
@lightText      : #ccc;
@darkText       : #37373a;
@headerBgDark   : #222;
@headerBgLight  : #ddd;
@buttonBg       : @highlight;
@buttonButton   : #2b2b31;
@buttonButton   : #1f272a;
/*
@inputBg        : linear-gradient(to right, #2d2d2d, #222);
@inputText      : #ccc;
*/

@inputBg: #fff;
@inputText: #000;

[sv-handle] {
    button {
        position:relative;
        float:left;
        clear:both;
        margin:2% 4%;
        padding:10px;
        width:92%;
    }
}
pop-it {
    position:fixed;
    top:20px;
    //right:20px;
    left:96%;
    z-index:1000;
    background:@darkBg;
    color:@lightText;
    overflow:auto;
    z-index:1002;
    min-width:400px;
    float:left;
    font-family:lato;
    resize:both;
    text-align:center;
    max-width:70%;
    box-shadow:@crazyBS;   
    max-height:80vh;
    i.fa.fa-trash {
        color:lighten(@darkText, 30%);
        margin-right:8px;
        font-size:20px;
        cursor:pointer;
        transition:250ms;
        &:hover {
            opacity:0.5;
        }
    }
    &.offSide {
        
    }
    //transition:500ms;
    &.slideIn {
        //transform: translateX(-100%);
    }
    .fields {
        padding:20px 1%;
        float:left;
    }
    label {
        width:110px;
        display:inline-block;
        font-weight:400;
        color:@lightText;
        color:#fff;
        //font-weight:bold;
        letter-spacing:0.8px;
        font-size:13px;
        text-transform:uppercase;
        margin-left:5px;
    }
    input, textarea {
        border-radius:  2px;
        margin:         2px;
        border:         none;
        padding:        6px;
        padding-left:   12px;
        //box-shadow:   1px 1px 3px -1px #aaa;
        font-size:      14px;
        margin-right:   20px;
        line-height:    26px;
        background:     @inputBg;
        color:          @inputText;
        padding-left:   12px;
        transition:     300ms;
        outline:        none;
        border-bottom:  2px solid transparent;
        &:focus {
            border-bottom: 2px solid @highlight;
        }
    }
    textarea {
        margin:     10px 2%;
        width:      80%;
        margin:     20px 3%;
        font-size:  14px;
        min-height: 120px;
        min-width:  360px;
        padding:    12px;
    }
    .drag {
        height:30px;
        width:100%;
        background:blue;
    }
    &.textPop {
        min-width:400px;
        min-height:100px;
        text-align:center;
    }
    &.photoPop {
        float:left;
        min-width:800px;
        min-height:400px;
        max-width:900px;
        max-height:600px;
    }
    &.hoursPop {
        input {
            width:70px;
        }
    }
    .popHeader {
        width:100%;
        float:left;
        background:@headerBgDark;
        cursor:move;
        margin-bottom:20px;
        .dragLines {
            position:absolute;
            min-height:36px;
            left:46px;
            right:46px;
            padding-top:5px;
            hr {
                height:2px;
                //border:1px solid #777;
                border:none;
                background:@darkText;
                margin:6px 12px;
                transition:400ms;
            }
            transition:500ms;
            &:hover {
                //background:#777;
                hr {
                    //border:1px solid #aaa;
                    background:lighten(@darkText, 20%);
                }
            }
        }
        .fa {
            font-size:24px;
            float:left;
            padding:6px 12px;
            transition:300ms;
            cursor:pointer;
        }
        .fa-close {
            float:right;
            color:#9c2e2e;
            color:#a42d2d;
            font-size:28px !important;
        }
        .fa:hover {
            //background:#ddd;
            opacity:0.5;
        }
        .fa-arrow-left,
        .fa-square-o,
        .fa-arrow-right {
            float:right;
            font-weight:bold;
        }
        .fa-arrows-h {
            float:right;
            &.active {
                background:rgba(0, 0, 0, 0.3);
            }
        }
    }
    .popCont {
        float:left;
        overflow:auto;
        max-height:70vh;
        width:100%;
        margin-top:-20px;
        padding-top:20px;
    }
    .editWrap {
        max-height:60vh;
        overflow:auto;
        float:left;
        .files {
            margin:10px;
            width:auto;
            //box-shadow:@crazyBS;
        }
        .fa-pencil { display:none; }
        .loop {
            margin:10px;
            float:left;
            width:80%;
            font-size:25px;
            margin-left:40px;
            label {
                color:#fff;
                font-weight:bold;
                color:#ff9077;
            }
            input {
                border:none;
                border-radius:4px;
                width:35px;
                padding:5px;
                font-size:18px;
                text-align:center;
            }
        }
    }
    .editMap {
        input {
            width:220px;
        }
    }
    &.linkPop {
        top:160px;
    }
    ul {
        list-style:none;
        li {
            .lab { width: 150px; text-align:left; }
            .url { width:220px; }
        }
    }
    button.coolButton.edit {
        box-shadow:none;
        border-radius:30px;
        background:@buttonBg;
        transition:300ms;
        padding:0px;
        border:none;
        span {
           font-size:12px;
           text-transform:uppercase;
           padding:10px 18px 10px 14px;
           letter-spacing:0.8px;
           color:rgba(0,0,0,0.92);
           font-weight:bold;
           transition:300ms;
        }
        i {
            border-radius:20px;
            min-width:15px;
            background:@buttonButton;
            background:rgba(0,0,0,0.92);
            font-size:13px;
            color:@highlight;
        }
        &:hover {
            background: #222;
            span, i {
                color: @highlight;
            }
        }
    }
    .buttonWrap {
        margin-bottom:15px;
    }
    button {
        outline:none;
        &.reorder {
            border      : 1px solid @highlight;
            background  : #313131;
            color       : #fff;
            text-transform:uppercase;
            font-size:13px;
            letter-spacing:0.7px;
            padding:14px;
            width:200px;
            float:none;
            margin:10px auto;
            display:block;
            border:1px dashed #555;
            overflow:hidden;
            text-overflow:ellipsis;
            transition:500ms border;
            &:focus, &:hover {
                border: 1px dashed @highlight;
            }
        }
    }
}
content.active {
    background:#eee;
}
.popHours {
    input {
        width:45px;
    }
}
[cms-section-text] {
    pop-it {
        .popCont {
            > div {
                margin:10px 0px;
                float:left;
                clear:both;
                label {
                    margin-left:30px;
                    text-align:left;
                }
            }
            .popHeader {
                margin:0px;
            }
            .descWrap {
                label {
                    float:left;
                    margin-left:6%;
                    margin-bottom:20px;
                }
                textarea {
                    margin-top:0px;
                }
            }
        }
    }
}
[cms-menu-cat] {
    .catRow {
        margin:5px 0px;
        input {
            width:200px;
        }
    }
    label {
        /* Kinda hacky */
        margin-left:-40px;
        margin-bottom:10px;
    }
}
[cms-menu-item] {
    .inputWrap {
        text-align:left;
        margin:5px 10px 5px 30px;
    }
}
.blogPostPop {
    div {
        text-align:left;
        margin-left:30px;
    }
    textarea {
        margin:10px 0px 20px;
    }
}
