[product] {
    .menuheader {
        max-height:450px;
        height:70vh;
        background-position:center center;
    }
    .textOverlay {
        font-size:81px;
        letter-spacing:4px;
        font-weight:bold;
        text-transform:uppercase;
        position:absolute;
        top:45%;
        color:#37373a;
        width:100%;
        text-align:center;
        position:absolute;
        top:200px;
    }
    #menusWrap {
        margin:0px 40px 10px 0px;
        background:white;
        position:relative;
        float:left;
        width:calc(~"100% - 40px");
        padding:40px 0 0 40px;
        h1 {
            color:#373737;
        }
        .fa-pencil {
            color:#2974a4;
            margin:0px 5px;
            font-size:16px;
            cursor:pointer;
            transition:150ms;
            z-index:11;
            &:hover {
                opacity:0.8;
            }
        }
        .labWrap {
            text-align:center;
            position:relative;
            .eachLab {
               display:inline-block; 
            }
        }
        .restButton {
            .button1;
            border-radius:1px;
            background:@mainColor;
            font-size:16px;
            margin-right:3px;
            width:130px;
            transition:400ms;
            &:hover {
                opacity:0.7;
                background:@mainColor;
            }
        }
        .zoutterWrap {
            margin:10px 0px 10px -10px;
            .labWrap {
                margin:30px 0px;
                .innerWrap {
                    margin:10px;
                    display:inline-block;
                    font-weight:bold;
                    text-transform:uppercase;
                    font-size:12px;
                    cursor:pointer;
                }
            }
            .menuCat {
                [cms-menu-item] {
                    display:flex;
                    flex-wrap:wrap;
                    width:100%;
                }
                .menuWrap {
                    flex-grow:1;
                    margin:30px 10px;
                    width:calc(~"50% - 26px");
                    max-width:calc(~"50% - 26px");
                    border:0px dotted #eee;
                    color:#37373a;
                    min-width:300px;
                    position:relative;
                    .name, .price {
                        font-size:18px;
                        display:inline-block;
                        margin-bottom:5px;
                        font-weight:700;
                        text-transform:uppercase;
                    }
                    .descr, .hippie {
                        font-style:italic;
                    }
                    .bullet {
                        font-size:26px;
                        margin:2px 10px;
                        vertical-align:bottom;
                    }
                    i {
                        position:absolute;
                        background:#fff;
                        top:0px; 
                        right:0px;
                        color:#37373a;
                        font-size:20px;
                    }
                }
                [sv-placeholder] {
                    border: 3px dashed #ddd;
                    min-height:80px;
                    font-size:48px;
                    background:rgba(0, 0, 0, 0.05);
                    opacity:0.4;
                    text-align:center;
                    z-index:100;
                    &.small {
                        min-height:40px;
                        font-size:28px;
                    }
                }
            }
        }
        .fa-pencil {
           margin:3px 1px;
           font-size:20px;
           position:absolute;
           top:-5px;
           right:-20px;
           background:#fff;
           font-size:20px;
        }
    }
    .menuCatLabs {
        transition:400ms;
        border-bottom:2px solid transparent;
        &.active, &:hover {
            border-bottom:2px solid @mainColor;
        }
    }
    [cms-menu-cat] {
        float:left;
        position:relative;
        .eachCat {
            font-family:lato;
            float:left;
            margin:5px 12px;
            text-transform:uppercase;
            font-size:14px;
            padding-bottom:5px;
            font-weight:bold;
            cursor:pointer;
            transition:300ms;
            border-bottom:2px solid transparent;
            &.active {
                border-bottom:2px solid @mainColor;
            }
            &:hover {
                border-bottom:2px solid @mainColor;
            }
        }
        .catRow {
            i.fa-trash {
                font-size:20px;
                //color:red;
                margin-right:8px;
                cursor:pointer;
                transition:150ms;
                &:hover {
                    opacity:0.5;
                }
            }
        }
        .coolButton {
            margin-bottom:10px;
        }
    }
}
