.splash {
    position:absolute;
    transition:120ms ease-in-out;
    top:0;
    max-height:1000px;
    bottom:0;
    left:0;
    right:0;
    opacity:1;
    background:#fff;
    z-index:1000;
    .splHeader {
        background:lighten(#225594, 0%);
        height:70px;
        text-align:center;
        img {
            height:50px;
            float:left;
            margin-top:10px;
            margin-left:12px;
            -webkit-filter:contrast(160%);
            filter:contrast(160%);
        }
        .label {
            float:left;
            padding:29px 0px 0px 8px;
            font-weight:bold;
            color:#333;
            color:rgba(0,0,0,0.8);
        }
        .nav {
            margin-left:20px;
            margin-right:20px;
            display:inline-block;
            ul {
                li {
                    display:inline-block;
                    font-weight:400;
                    color:#dedede;
                    font-size:12px;
                    padding:29px;
                    font-weight:bold;
                    text-transform:uppercase;
                    transition:150ms;
                    &:hover {
                        background:#5a80af;
                        cursor:pointer;
                    }
                }
            }
        }
        .loginButton {
            display:inline-block;
            margin-left:15px;
            padding:14px 16px;
            border:0px solid hsla(0,0%, 100%, .2);
            border-radius:4px;
            background-color:#254875;
            color:hsla(0,0%, 100%, .5);
            font-size:12px;
            font-weight:bold;
            cursor:pointer;
            transition:150ms;
            &:hover {
                color:#fff;
            }
        }
    }
    .splContent {
        float:left;
        position:absolute;
        top:70px;
        left:0;
        right:0;
        bottom:50px;
        background-image:linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('https://gliffy.com/images/grid-tile.svg');
        .head1 {
            line-height:36px;
            margin-top:40px;
            margin-bottom:10px;
            font-size:41px;
            font-weight:bold;
            text-align:center;
            color:#333;
            letter-spacing:0.9px;
        }
        .head2 {
            margin-bottom:50px;
            font-size:18px;
            text-align:center;
            color:#888;
            line-height:28px;
            font-weight:bold;
        }
        .failedLogin {
            text-align:center;
            color:#950000;
            margin-top:20px;
            max-height:0px;
            overflow:hidden;
            transition:500ms;
            &.active {
                max-height:40px;
                padding-bottom:3px;
            }
        }
        .loginForm {
            input {
                display:block;
                margin:20px auto;
                border-radius:4px;
                height:50px;
                border:1px solid #d9d9d9;
                font-size:16px;
                line-height:28px;
                background:rgb(250,255,189);
                padding-left:10px;
                min-width:500px;
            }
            .buttonWrap {
                width:100%;
                text-align:center;
                .splButton {
                    display:inline-block;
                    margin-bottom:15px;
                    border-radius:4px;
                    padding:15px 30px;
                    //background-image: linear-gradient(180deg, #ef8651, #ed793e);
                    background:@teal;
                    font-size:18px;
                    font-weight:bold;
                    text-transform:uppercase;
                    color:#fff;
                    cursor:pointer;
                }
            }
        }
    }
    .footer {
        position:absolute;
        bottom:0px;
        width:100%;
        background:#222;
        padding:30px 0px;
        font-size:24px;
        text-align:center;
        color:#fff;
    }
    .loginSplsh.ng-hide {
        display:block !important;
        right:100%;
        transition:1000ms right;
        overflow:hidden;
        background:#fff;
    }
    .loginSplsh {
       position:absolute;
       z-index:1000;
       top:0px;
       bottom:0px;
       right:0px;
       left:0px;
       //background-image:linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('https://gliffy.com/images/grid-tile.svg');
       .splContent {
            min-width:500px;
            overflow:hidden;
       }
       .forgot {
            text-align:center;
            margin:5px 0px 20px;
            font-weight:bold;
            cursor:pointer;
            transition:100ms;
            &:hover {
                color:@teal;
            }
       }
       .keep {
            text-align:center;
            margin-bottom:20px;
            input {
                display:inline-block;
                margin:0px 5px 0px 0px;
                height:auto;
                border:none;
                line-height:initial;
                min-width:auto;
            }
       }
    }
    .initMenu {
        .splContent {
            top:0px;
            bottom:0px;
            .saveButton {
                float:right;
                font-size:16px;
                margin:10px;
                box-shadow:@crazyBS;
                background:linear-gradient(@teal, darken(@teal, 10%));
                text-shadow:1px 1px #222;
            }
            .menuContainer {
                //margin:80px auto;
                min-width:50%;
                max-width:70%;
                min-height:400px;
                background:@baseBg;
                border-radius:4px;
                box-shadow:@crazyBS;
                display:flex;
                flex-wrap:wrap;
                color:#fff;
                font-size:20px;
                background:linear-gradient(darken(@baseBg, 15%), @baseBg);

                position:absolute;
                top:50%;
                transform:translateY(-50%);
                left:50%;
                margin-left:-25%;
                .menuItems {
                    min-width:50%;
                    flex-grow:1;
                    text-align:center;
                    box-shadow:@crazyBS;
                    text-shadow:1px 1px #222;
                    transition:200ms;
                    cursor:pointer;
                    &:hover {
                        //transform:scale(1.4);
                        //box-shadow:none;
                        i {
                            transform:scale(1.4);
                        }
                    }
                    i {
                        font-size:40px;
                        transition:200ms;
                        display:block;
                        margin:60px 0px 20px;
                    }
                }
            }
        }
    }
}
