[stock] {
    display:flex;
    font-family:lato;
    h1 {
        margin:30px 0 10px;
    }
    .searchPane {
        position:relative;
        float:left;
        clear:left;
        padding:12px;
        //border-right: 1px dotted #aaa;
        min-width:200px;
        max-width:200px;
        min-height:400px;
        flex-grow:1;
        background:#dbd5d1;
        z-index:100;
        h1 {
            text-align:center;
            padding-top:0px;
            margin-top:15px;
            color:@mainText;
        }
        .prodSearch {
            text-align:center;
            input {
                border-radius:4px;
                padding:6px;
                box-shadow:@crazyBSinput;
                border:none;
                margin-top:8px;
            }
        }
    }

    .resultPane {
        position:relative;
        flex-grow:1;
        float:left;
        padding:12px;
        min-width:400px;
        text-align:center;
        min-height:400px;
        h1 {
            color:@mainText;
            maring-top:15px;
        }
        .results {
            max-height:700px;
            overflow-y:auto;
            min-width:100%;
            [stock-item] {
                //border-bottom:1px dashed #555;
                padding:5px;
                width:45%;
                margin-bottom:20px;
                min-width:300px;
                float:left;
                //box-shadow:@crazyBS;
                margin:20px;
                background:#fff;
                &.active {
                    background:#ddd;
                }
                .itemHead {
                    width:100%;
                    position:relative;
                    text-align:center;
                    font-size:20px;
                    padding:10px 0px;
                    font-weight:500;
                    padding:10px 0px 25px;
                    color:#303b7f;
                    font-weight:bold;
                    letter-spacing:0.7px;
                    i {
                        position:absolute;
                        top:5px;
                        right:5px;
                        color:@mainText;
                        &.fa-pencil {
                            right:35px;
                        }
                    }
                }
                .descr {
                    line-height:20px;
                    letter-spacing:0.3px;
                    font-size:14px;
                }
                .price {
                    font-size:22px;
                    color:#944242;
                    font-weight:bold;
                }
                .catWrap {
                    margin:4px;
                    font-size:12px;
                    text-align:left;
                    margin-left:20%;
                    .catLab {
                        font-weight:bold;
                        display:inline-block;
                        width:100px;
                    }
                    .catItem {
                        span {
                            &:after {
                                content: ',';
                            }
                        }
                        &:last-child {
                            span {
                                &:after {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .catSection {
        margin:10px 0px;
        min-width:180px;
        float:left;
        .catHead {
            font-size:16px;
            padding-top:0px;
            font-weight:500;
            text-transform:uppercase;
            padding:10px 0px;
        }
        .catItem {
            padding-left:14px;
            font-size:16px;
            font-style:normal;
            color:#444;
        }
    }
    [cms-img] {
        width:300px;
        height:300px;
        margin-top:25px;
        margin-bottom:15px;
        display:inline-block;
    }

    .inPop {
        button,
        textarea,
        input {
            margin:8px 3%;
            min-width: 94%;
        }
    }
    .manageStock {
        padding:20px;
        background:white;
        max-height:80vh;
        overflow:auto;
        .category {
            margin:10px;
            padding:15px;
            background:#eee;
            border:1px solid #ccc;
            float:left;
            clear:left;
        }
        h1 {
            text-align:center;
            margin:0px 0px;
        }
        h3 {
            margin: 18px 0 0px;
        }
        .items {
            padding-left:22px;
        }
        .lab {
            font-size:14px;
            font-weight:bold;
            //font-style:italic;
            float:left;
            padding-top:4px;
            text-transform:uppercase;
            &.cat {
                min-width:96%;
                font-size:22px;
                font-style:normal;
                button {
                    font-size:18px;
                    background:black;
                    color:white;
                }
            }
        }
        .coolButton {
            &.edit {
                float:left;
                clear:left;
            }
        }
    }
    pop-out {
        &.active {
            position : fixed;
            top      : 80px;
            left     : 16px;
            background : #eee;
            padding : 18px;
            //border : 3px solid green;
            max-width: 400px;
            max-height:600px;
            overflow-y:auto;
            box-shadow: 5px 5px 20px 5px #ccc;
        }

        .fa-close {
            padding:5px;
            //border:1px solid #aaa;
            font-size:28px;
            color:#9c2e2e;
            position:absolute;
            top:10px;
            right:10px;
            cursor:pointer;
        }
    }

}
