/*
.inForm {
    margin:0px;
    padding:5px;
    border-radius:5px;
    float:left;
    width:99%;
}
[op-form="graft"] { .inForm { border: 4px solid darken(@graft, 10%); }}
[op-form="impl"]  { .inForm { border: 4px solid darken(@implant, 10%); } }
[op-form="pros"]  { .inForm { border: 4px solid darken(@prosthesis, 10%); }}
[op-form="proc"]  { .inForm { border: 4px solid darken(@baseBg, 10%); }}
*/

@navBorder : #aaa;
@navRadius : 8px;

.sideList {
    input.search {
        width:40px;
        float:right;
        border:none;
        background:lighten(@baseBg, 50%);
        border-radius:5px;
        padding-left:20px;
    }
    i {
        &.fa-search {
            float:right;
            left:186px;
            top:12px;
            font-size:15px !important;
            color:black;
        }
    }
}
.subs {
    font-weight:bold !important;
    color:navy;
}


[file-up] {
    .buttonWrap {
        //position:fixed;
        margin-top:-40px;
    }
    .newFile {
         min-width:120px;
         position:absolute;
         top:0px;
         right:0px;
         background:rgba(255,255,255,0.5);
         padding:7px;
         font-size:13px;
         border-radius:2px;
         border:1px dashed #fff;
         font-weight:bold;
         cursor:pointer;
         margin:5px;
        [ngf-drop] {
            min-width:120px;
        }
        .buttonWrap {
            width:auto;
            float:right;
            max-height:auto;
            margin-top:7px;
        }
    }
}


[options] {
    &:hover {
        transition:800ms;
        transition-delay:800ms;
        .options {
            max-width:100%;
            max-height:100%;
            background:#fff;
            >div {
                opacity:1;
                margin-left:0%;
            }
        }
    }
    .options {
        transition:800ms;
        //transition-delay:800ms;
        max-width:40px;
        max-height:40px;
        //padding:12px 12px 0 0;; 
        position:fixed;
        bottom:0;
        left:0;
        z-index:410;
        h1 {
            position:relative;
            float:left;
            clear:both;
            button {
                margin:1px 3px;
            }
        }
        >div {
            padding:8px;
            //box-shadow:1px 1px 8px 3px #888;
            margin-left:-100%;
            transition:400ms;
            border-top-right-radius:8px;
        }
        &.active {
            max-width:100%;
            max-height:100%;
            background:white;
            box-shadow:@crazyBS;
            float:left;
            >div {
                margin-left:0%;
            }
            i.fa-gear {
                color:green;
            }
        }
        i {
            font-size:32px;
            position:relative;
            float:left;
            padding:8px;
            margin-bottom:4px;
        }
        .clear.box {
            background:#ddd;
            position:relative;
            float:left;
            color:white;
        }
    }
}

#settings {
    .box {
        position:relative;
        float:left;
        border:2px solid black;
        border-radius:8px;
        margin-bottom:4px;
        padding:8px;
    }
    .clear {
        clear:both;
    }
    [dbadmin] {
        ul {
            position:relative;
            float:left;
        }
        position:relative;
        float:left;
        clear:both;
        width:100%;
        .dbhead {
            position:relative;
            float:left;
            li {
                font-weight:bold;
                position:relative;
                float:left;
                margin-right:8px;
                width:40px;
                &.name { width:180px; }
                &.type { width:180px; }
                &.default { width:300px; }

                input {
                    width:32px;
                    margin-right:2px;
                }

                &.name,
                &.type,
                &.default { 
                    input {
                        width:176px;
                    }
                }
                margin-top:12px;
                margin-bottom:12px;
            }
        }
        .dbadmin {
            position:relative;
            float:left;
            clear:both;
            li {
                overflow:hidden;
                text-overflow: ellipsis;
                position:relative;
                float:left;
                margin-right:8px;
                width:40px;
                &.name {width:180px; }
                &.type { width:180px; }
                &.default { width:300px; }
                transition:800ms;
                &:hover {
                    width:auto;
                }
                margin-bottom:5px;
            }
        }
    }
}
