<div class="hoursCms">
    <i class="fa fa-pencil" ng-click="pencilClick();" ng-if="edt"></i>

    <div ng-repeat="(day, hours) in cont" class="weekday">
        <label>{{day|adjustWord}}</label>
        <span class="from">{{hours.from}}</span> 
        <span> - </span>
        <span class="to">  {{hours.to}}</span>
    </div>

</div>
