<div ng-repeat="(day, hours) in cont" class="weekday">
    <label>{{day|adjustWord}}</label>
    <input type="text" ng-show="edt&&edtme" ng-model="hours.from" placeholder="{{placeholder}}"></input>
    -
    <input type="text"ng-show="edt&&edtme" ng-model="hours.to" placeholder="{{placeholder}}"></input>
</div>
<div class="buttonWrap">
    <button class="coolButton edit" ng-click="cb({arg:saveHours})"><i class="fa fa-check"></i><span>Save</span></button>
</div>
