<div>
    <i class="fa fa-pencil" ng-click="pencilClick();" ng-if="edt"></i>
    <div class="info">{{cont.tel}}</div>
    <div class="info">{{cont.addr}}</div>
    <div class="info">{{cont.city}}</div>
    <div class="info">
        <a href="{{cont.email.link"}}>{{cont.email.linkText}}</a>
    </div>
</div>
