<div class="inputWrap">
    <label>Telephone</label><input ng-model="cont.tel"    placeholder="Telephone"></input>
</div>
<div class="inputWrap">
    <label>Address</label><input ng-model="cont.addr" placeholder="Street"></input>
</div>
<div class="inputWrap">
    <label>City</label><input ng-model="cont.city"   placeholder="City"></input>
</div>
<div class="inputWrap">
    <label>E-mail Link</label><input ng-model="cont.email.link"  placeholder="Email Link"></input>
</div>
<div class="inputWrap">
    <label>E-mail Text</label><input ng-model="cont.email.linkText"  placeholder="Email Text"></input>
</div>

<div class="buttonWrap">
    <button class="coolButton edit" ng-click="cb({arg:saveLocInfo})"><i class="fa fa-check"></i><span>Save</span></i>
</div>
