<div class="mapWrapSet" lax>
    <div cms-map edt="edt" coords="mapCoords"  lab="mapLab" scale="2"></div>
</div>

<div class="contactInfo" svx-root svx-part="cms.locs">
    <div class="eachLoc" ng-repeat="(idx, loc) in cms.locs" svx-element>
        <h2 ng-click="selectMap(idx)">{{loc.lab}}
            <!--<i class="fa fa-map"></i>--!>
        </h2>
        <div class="locInfo">
            <!--
            <div cms-text cont="loc.tel" edt="edt" class="phone"></div>
            <div cms-text cont="loc.street" edt="edt"></div>
            <div cms-text cont="loc.city" edt="edt"></div>
            <div cms-link cont="loc.email" idx="0:{{i}}" edt="edt" lab="Link Url" cb="delLink(idx)"></div>
            --!>
            <div cms-location-info class="locInfo" cont="loc" edt="edt" cb="saveCms(arg)"></div>
        </div>

        <!--<div class="subHead">Our Hours</div>--!>
        <div cms-hours class="hoursWrap" cont="loc.hours" edt="edt" cb="saveCms(arg)">
            <!--
            <div ng-repeat="(key, hr) in loc.hours" class="hours">
                <label>{{key|adjustWord}}</label><div cms-text cont="hr.from" edt="edt"></div> to <div cms-text cont="hr.to" edt="edt"></div>
            </div>
            --!>
        </div>
    </div>
</div>

