<div>
    <div class="popsTest itemHead"><item-head>{{itemList.title}}</item-head>
        <i ng-show="edt" class="fa fa-pencil" ng-click="pencilClick();"><span class="cms">{{cont ? '' : placeholder}}</span></i>
        <i ng-if="edt" class="fa fa-trash" ng-click="delete()"></i>
        <i ng-if="edt" class="fa fa-picture-o" ng-click="itemList.hide_img=!itemList.hide_img; save()" ng-class="itemList.hide_img|checkActive"></i>
        <div class="date">
            {{itemList.created|dtFmt}}
        </div>
    </div>
    <div class="contentText">{{itemList.content}}</div>
    <div class="inputText">{{itemList.keywords}}</div>
    <div ng-if="!itemList.hide_img" cms-img img-src="itemList.img" edt="edt" cb="imgCb(edtme)" show-save></div>
    <!--
    <div ng-if="itemList.created">Created:{{itemList.created}}</div>
    <div ng-if="itemList.updated">Updated:{{itemList.updated}}</div>
    --!>
</div>
