<div class="blogPostPop">
    <div><label>Title</label><input type="text" ng-model="itemList.title" placeholder="title"></input></div>
    <div><label>Content</label><textarea ng-model="itemList.content" placeholder="content"></textarea></div>
    <div><label>Keywords</label><input type="text" ng-model="itemList.keywords" placeholder="keywords"></input></div>
</div>
<div class="buttonWrap">
    <button class="coolButton edit" ng-click="save()"><i class="fa fa-check"></i><span>Save</span></button>
</div>
