<div>
    <button class="coolButton">
        <i class="fa fa-arrow-left"></i>
        <a href="blog" ng-click="nav.tab='blog'"> Back to Blog</a>
    </button>
    <button class="coolButton edit" ng-if="edt" ng-click="addItem($event)"><i class="fa fa-plus"></i><span>New Item</span></button>
    <button class="coolButton edit" ng-if="edt&&itemList.length>1" ng-click="reorder()"><i class="fa fa-reorder"></i><span>Reorder Blog Items</span></button>

    <div ng-repeat="item in itemList">
        <div blog-item item-list="item" edt="edt" blog-id="blogId" reload="reload(data)"></div>
    </div>
</div>
