<div>
    <div class="popsTest blogHead">
        <!--
        <a href="blog/items?id={{mainList.uid}}">{{mainList.title}}</a>
        -->
        <a href="blog/{{mainList.handle}}">{{mainList.title}}</a>
        <i ng-show="edt" class="fa fa-pencil" ng-click="pencilClick();"><span class="cms">{{cont ? '' : placeholder}}</span></i>
        <i ng-if="edt" class="fa fa-trash" ng-click="delete()"></i>
        <!--
        <i ng-if="edt" class="fa fa-picture-o" ng-click="mainList.hide_img=!mainList.hide_img; save()" ng-class="mainList.hide_img|checkActive"></i>
        -->
        <div class="date">
            {{mainList.created|dtFmt}}
        </div>
    </div>
    <div ng-if="!mainList.hide_img && !mainList.is_vid" cms-img img-src="mainList.img" edt="edt" cb="imgCb(action, val)" show-save></div>

    <div ng-if="mainList.hide_img && mainList.is_vid" cms-vid vid-src="mainList.vid_url"> <!-- edt="edt" cb="imgCb(action, val)"><!--></div>

    <div class="contentText">{{mainList.content}}</div>
    <a   class="readMore"   ng-if="mainList.uid" href="blog/{{mainList.handle}}">Read More...</a>
    <div class="inputText"  ng-if="mainList.keywords"><i class="fa fa-tag"></i>{{mainList.keywords}}</div>
    <!--<div class="date"        ng-if="mainList.created">Created:{{mainList.created}}</div>--!>
    <!--<div class="date"        ng-if="mainList.updated"> Updated:{{mainList.updated}}</div>--!>
</div>
