<div class="blog_main">
    <button class="coolButton edit" ng-if="edt" ng-click="addItem()"><i class="fa fa-plus"></i><span>New Item</span></button>
    <button class="coolButton edit" ng-if="edt && blogs.length > 1" ng-click="reorder()"><i class="fa fa-reorder"></i><span>Reorder Blogs</span></button>

    <pager-wrap class="pgr" pgr class="results" pgr-row-count="6" item-list="blogs"></pager-wrap>
    <div ng-repeat="blog in blogs">
        <div blog-post blog-list  main-list="blog" edt="edt" reload="reload(data)"></div>
    </div>
</div>
