<div class="fields">
    <div><input type="text" ng-model="mainList.title" placeholder="title"></input></div>
    <div><textarea ng-model="mainList.content" placeholder="content"></textarea></div>
    <div><input type="text" ng-model="mainList.keywords" placeholder="keywords"></input></div>
    <div ng-if="mainList.is_vid"><input type="text" ng-model="mainList.vid_url" placeholder="youtube video url"></input></div>
    <div>
        <button class="coolButton edit" ng-click="save()"><i class="fa fa-check"></i><span>Save</span></button>
        <i ng-if="edt" class="fa fa-picture-o" ng-click="mainList.hide_img=!mainList.hide_img; mainList.hide_img || (mainList.is_vid=false)" ng-class="mainList.hide_img|checkActive"></i>
        <i ng-if="edt" class="fa fa-youtube" ng-click="mainList.is_vid=!mainList.is_vid; mainList.is_vid && (mainList.hide_img=true)" ng-class="!mainList.is_vid|checkActive"></i>
    </div>
</div>
