<div staff id="staffCtrl">
    <div class="writeUp">
        <h1 class="head" cms-in-text cont="cms.staffHead" edt="edt" cb="saveCms(arg)"></h1>
        <div class="subHead" cms-in-text cont="cms.staffSubHead" cb="saveCms(arg)" edt="edt"></div>
        <div cms-link-text cont="cms.staffCont" edt="edt"></div>
    </div>

    <div cont-el-menu>
        <div class="pers" ng-repeat="(idx, pers) in cms.staff">
            <div cms-img img-src="pers.img" edt="edt"></div>
            <div cms-section-text edt="edt" cont="pers.textObj" opts="selOpts" cb="saveCms(arg)"></div>
        </div>
    </div>
    <div class="buttonWrap">
        <div class="addItem" ng-if="edt" ng-click="addOne('staff')">
            <i class="fa fa-plus"></i>
            <span>Add Person</span>
        </div>
        <div class="addItem" ng-if="edt" ng-click="reorder()">
            <i class="fa fa-plus"></i>
            <span>Reorder</span>
        </div>
    </div>
    <pop-it class="blogList" ng-class="edtme|checkActive" top-right></pop-it>

    <div class="writeUp">
        <div class="subHead" cms-text cont="cms.staffPhil" edt="edt"></div>
        <div cms-text cont="cms.staffPhilCont" edt="edt"></div>
        <div class="head quotes" cms-text cont="cms.staffMiss" edt="edt"></div>
        <div cms-link-text cont="cms.staffMissCont" edt="edt"></div>
    </div>
</div>
