<div class="lolaSlide" lax>
    <div cms-img-side-slide img-list="cms.slideList" edt="edt" loop-period="cms.loopPeriod"></div>
    <div class="imgOverlay"></div>
</div>

<div class="laxCover">
    <div class="boxes b2">
        <div>
            <div class="head" cms-text cont="cms.headLeft" edt="edt" cb="saveCms(arg)"></div>
            <div cms-text cont="cms.contLeft" edt="edt" pop-dragZ cb="saveCms(arg)"></div>
        </div>
        <div>
            <div class="head" cms-text cont="cms.headRight" edt="edt" cb="saveCms(arg)"></div>
            <div cms-text cont="cms.contRight" edt="edt" pop-dragZ cb="saveCms(arg)"></div>
        </div>
    </div>

    <div class="outterWrap land">
        <div class="innerWrap" ng-repeat="(idx, loc) in cms.locs" cms-map="loc.lab" cb="saveCms(arg)"
            edt="edt" coords="loc" map-by-img idx="{{idx}}" all-locs="cms.locs">
        </div>
        <div class="addMap" ng-if="edt" >
            <button ng-click="addOne('locs')"><i class="fa fa-plus"></i>Map</button>
        </div>
    </div>
</div>
