<div ng-if="edt">
    <div class="box">
        <h2>Routes</h2>
        <div lst item-list="routes" lst-cb="tabAction(typ, item, key)" key="routes" cols="[
                ['name', 'Name', 'big'],
                ['lab', 'Label', 'big'],
                ['menu', 'Menu', 'num'],
                ['icon', 'Icon', 'name']
        ]"></div>
    </div>
</div>
