<div ng-class="edtme|checkActive">
    <div class="itemHead">
        {{item.name}}
        <i ng-show="edt" class="fa fa-pencil" ng-click="pencilClick(item);"></i>
        <i ng-show="edt" ng-click="delItem()" class="fa fa-trash"></i>
     </div>
    <div class="descr">{{item.description}}</div>
    <div>{{item.categories}}</div>

    <div cms-img img-src="item.img" edt="edt" show-save cb="imgClicked(action, val)" contain max-width="360"></div>

    <div ng-repeat="(k, tags) in item.tags">
        <div ng-repeat="(kk, labs) in cats" ng-if="k==kk" class="catWrap">
            <span class="catLab">{{labs.name}}:</span>

            <span ng-repeat="(kLab, vv) in labs.items">
                <span class="catItem" ng-repeat="(kTag, v) in tags">
                    <span ng-if="kTag==kLab">{{vv}}</span>
                </span>
            </span>
        </div>
    </div>

    <div ng-if="item.price" class="price">${{item.price}}</div>
</div>
