<div class="inPop">
    <div><input type="text" ng-model="item.name" placeholder="name"></input></div>
    <div><textarea ng-model="item.description" placeholder="description"></textarea></div>
    <div><input type="text" ng-model="item.price" placeholder="price"></input></div>
    <div><input type="text" ng-model="item.categories" placeholder="categories comma seperated"></input></div>
    <div class="buttonWrap">
        <button class="coolButton edit" ng-click="saveItem()"><i class="fa fa-check"></i><span>Save Item</span></button>
        <button class="coolButton edit" ng-if="!nav.inChecks" ng-click="nav.inChecks=true; chooseCats()"><i class="fa fa-exchange"></i><span>Select Categories</span></button>
    </div>
</div>
