<div>
    <div class="searchPane">
        <h1>Search</h1>
        <div class="prodSearch">Product Search
            <input type="text" ng-model="contentSearch" ng-change="searchContent()"></input>
        </div>
        <button class="coolButton edit" ng-if="edt" ng-click="pencilClick()">
            <i class="fa fa-github-alt"></i>
            <span>Manage Cats</span>
        </button>
        <pop-out ng-class="poppedOut|checkActive">
            <h4>{{nav.selItemName}}</h4>
            <i class="fa fa-close" ng-if="nav.inChecks" ng-click="nav.inChecks=false; setChecks(null, false, false)"></i>
            <div ng-repeat="(cat_mask, cat) in cats" class="catSection">
                <div class="catHead">{{cat.name}}</div>
                <div ng-if="mask!=='null'" ng-repeat="(mask, item) in cat.items" class="catItem">
                    <input type="checkbox" ng-model="checks[cat_mask][mask]" ng-click="searchChanged()" id="{{item}}"></input>
                   <label for="{{item}}"> {{item}}</label>
                </div>
            </div>
        </pop-out>
    </div>
    <div class="resultPane">
        <h1>Stock</h1>
        <button class="coolButton edit" ng-if="edt" ng-click="addItem()">
            <i class="fa fa-plus"></i>
            <span>Add Item</span>
         </button>
        <pager-wrap class="pgr results" pgr pgr-row-count="4"></pager-wrap>
        <div class="results">
            <div ng-repeat="item in stock">
                <div stock-item></div>
            </div>
        </div>
    </div>
</div>
