<div class="manageStock">
    <h1>Manage Categories</h1>

    <div ng-repeat="(catId, cat) in cats" class="category">
        <div class="lab cat"><i ng-show="catId!='9999'" class="fa fa-arrow-circle-o-{{viewItems ? 'up' : 'down'}}" ng-click="viewItems=!viewItems"></i> Category: 
            <input type="text" ng-model="cat.name"></input>
            <button ng-if="catId!='9999'" ng-click="delCategory(catId)">
                <i class="fa fa-trash"></i>
             </button>
            <button ng-if="!newCategory" ng-click="saveCat(cat.name, catId)">
                <i class="fa fa-check"></i>
            </button>
        </div>
        <div ng-if="viewItems" ng-repeat="(itemId, item) in cat.items track by $index" class="items">
            <div class="lab">Item:</div><input type="text" ng-model="item" placeholder="new item"></input>
            <i class="fa fa-trash" ng-click="delCatItem(catId, itemId);"></i>
            <i class="fa fa-check" ng-click="saveCatItem(catId, item, itemId)"></i> 
        </div>
        <button ng-if="viewItems" class="coolButton edit" ng-if="!newCatItem[catId]" ng-click="addCatItem(cat.name)">
            <i class="fa fa-plus"></i> <span>Add Item</span></button>
        </button>
    </div>

    <button class="coolButton edit" ng-if="!newCategory" ng-click="addCategory()"><i class="fa fa-plus"></i><span>Add Category</span></button>
    <button class="coolButton edit" ng-if="cats['9999'].name" ng-click="saveCat(cats['9999'].name, '9999')"><i class="fa fa-check"></i><span>Save New Category</span></button>
</div>
