<div class="beforeMenuWrap">
    <a href="/#land" ng-click="nav.tab=''">
        <img src="https://lolarosa.ca/wp-content/themes/lolarosa-child/images/logo-lola.png">
    </a>
    <div class="commander">
        <!--
        <a href="https://lolarosa.ca/traiteur/" ng-click="nav.tab=''">
        -->
            Commander en ligne
        <!--
        </a>
        -->

    </div>
</div>
