<div id="menu">
    <ul>
        <div before-menu></div>
        <div after-menu></div>
        <div middle-menu>
            <i class="fa fa-bars" ng-click="nav.showMenus=!nav.showMenus" ng-class="nav.showMenus|checkActive"></i>
            <div class="menuItems" ng-class="nav.showMenus|checkActive">__GEN_MENUS
            </div>
        </div>

        <div class="respMenu" ng-show="nav.showMenus">
            <div class="menuItems">__GEN_MENUS
            </div>
        </div>
    </ul>
</div>
