.menuLogin {
    z-index:1001;
    position:fixed;
    top:70px;
    font-size:32px;
    color:white;
    right:10px;
    .fa-key {
        color: transparent;
        transition:800ms;
        font-size:56px;
        &:hover {
            color:#ccc;
        }
    }
}
[all-edit] {
    position:fixed;
    top:70px;
    right:10px;
    z-index:11;
    right:20px;
    button {
        border-radius:30px;
        box-shadow:none;
        background:fade(darken(#323875, 5%), 90%);
        color:#fff;
        padding:11px 18px;
        border:none;
        font-size:18px;
        font-weight:bold;
    }
}
[menu] {
    width:100%;
    z-index:1000;
    /*
    [before-menu] {
        float:left;
        .beforeMenuWrap {
            .commander {
                padding:16px 9px;
                text-align:center;
                max-width:275px;
                text-transform:uppercase;
                color:#fff;
                background-color:#ff9077;
                letter-spacing:2px;
                width:100%;
                display:block;
                font-size:14px;
                position:relative;
                font-weight:bold;
            }
        }
    }
    */
    ul {
        transition:0.8s;
        padding:0px;
        position:relative;
        margin:0px;
        text-align:center;
       //display:flex;
       //flex-direction:row;
        width:100%;
        //background:linear-gradient(#111, #222);
        //background:linear-gradient(rgba(17,17,17,0.99), rgba(17,17,17,0.7));
        background:#fff;
        float:left;
        //box-shadow:0px 1px 5px -1px #000;
        //min-height:48px;
        //height:@headerHeight;
        li {
            cursor:pointer;
            border-radius:0px;
            outline:none;
            flex-grow:1;
            display:inline-block;
            padding:6px 12px 3px 5px;
            margin:0;
            //hack 
            //letter-spacing:0.6px;
            font-weight:bold;
            font-size:18px;
            color:#000;
            transition:300ms;
            position:relative;
            box-shadow:1px 0px 2px -1px #000;
            span.wide {
                @media screen and (max-width: 645px) {
                    display:none;
                }
                white-space:nowrap;
            }
            &:hover {
                background:#000;
                color:lighten(@secondary, 20%);
                i {
                    color:lighten(@secondary, 20%);
                }
            }
            &.active {
                background:@secondary;
                color:#eee;
                pointer-events:none;
            }
            &.infraTab {
                &:hover .subMenu {
                    max-height:100px;
                }
                .subMenu {
                    max-height:0px;
                    overflow:hidden;
                    transition:200ms;
                    position:absolute;
                    left:0px;
                    width:100%;
                    border-bottom-right-radius:8px;
                    border-bottom-left-radius:8px;
                    box-shadow:1px 8px 12px -7px #000;
                    ul {
                        background:#000;
                        opacity:0.95;
                        display:inline-block;
                        margin-top:3px;
                        padding:2px 0px 5px;
                        border-bottom-right-radius:8px;
                        border-bottom-left-radius:8px;
                        border-top:none;
                        li {
                            font-size:13px;
                            padding:10px 5px 5px;
                            display:block;
                            box-shadow:none;
                            border-radius:8px;
                            margin-left:5px;
                            i {
                                margin:0px 5px;
                                float:left;
                            }
                        }
                    }
                }
            }
        }
    }
}
[before-menu] {
    float:left;
    min-width:480px;
    .beforeMenuWrap {
        > div, a {
            float:left;
            display:inline;
        }
        .commander {
            padding:20px 12px 18px;
            text-align:center;
            max-width:275px;
            text-transform:uppercase;
            color:#fff;
            background-color:#ff9077;
            letter-spacing:2px;
            display:block;
            font-size:14px;
            position:relative;
            font-weight:bold;
        }
    }
}
.genMenu,
[middle-menu] {
    float:right;
    i { 
        display:none;
        font-size:32px;
        position:fixed;
        top:0px;
        right:80px;
    }
    .menuItems {
        margin:0;
        padding:0;
        position:fixed;
        left:412px;
    }
    @media (max-width: 940px) {
        position:fixed;
        i {
            display:block;
        }
        .menuItems {
            display:none;
            left:50px;
            top:55px;
            &.active {
                display: block;
                background:white;
                a {
                    position:relative;
                    width: 100%;
                    float:left;
                    margin-bottom:1px dotted #777;
                }
            }
        }
    }
    a {
        text-decoration:none;
        li {
            color:#373737;
            text-transform:uppercase;
            font-size:12px;
            font-weight:700;
            letter-spacing:1px;
            box-shadow:none;
            padding:20px 15px;
            pointer-events:none;
        }
    }
}
[after-menu] {
    float:right;
    color:#373737;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    box-shadow:none;
    padding:20px 15px;
    pointer-events:none;
    margin-left:10px;
    .selected {
        color:@mainColor;
    }
}
#menusWrap {
    margin:0px 40px 10px 0px;
    background:white;
    position:relative;
    float:left;
    width:calc(~"100% - 40px");
    padding:40px 0 0 40px;
    h1 {
        color:#373737;
    }
    .fa-pencil {
        color:#2974a4;
        margin:0px 5px;
        font-size:16px;
        cursor:pointer;
        transition:150ms;
        z-index:11;
        &:hover {
            opacity:0.8;
        }
    }
    .restButton {
        .button1;
        border-radius:1px;
        background:@mainColor;
        font-size:16px;
        margin-right:3px;
        width:130px;
        transition:400ms;
        &:hover {
            opacity:0.7;
            background:@mainColor;
        }
    }
    .outterWrap {
        background:white;
        .zoutterWrap {
            margin:10px 0px 10px -10px;
            .labWrap {
                margin:30px 0px;
                .innerWrap {
                    margin:10px;
                    display:inline-block;
                    font-weight:bold;
                    text-transform:uppercase;
                    font-size:12px;
                    cursor:pointer;
                }
            }
            .menuCat {
                display:flex;
                flex-wrap:wrap;
                .menuWrap {
                    flex-grow:1;
                    margin:30px 10px;
                    width:calc(~"50% - 26px");
                    max-width:calc(~"50% - 26px");
                    border:3px dotted #eee;
                    color:#37373a;
                    min-width:300px;
                    .name, .price {
                        font-size:18px;
                        display:inline-block;
                        margin-bottom:5px;
                        font-weight:700;
                        text-transform:uppercase;
                    }
                    .descr, .hippie {
                        font-style:italic;
                    }
                    .bullet {
                        font-size:40px;
                        margin:0px 10px;
                        vertical-align:middle;
                    }
                }
                [sv-placeholder] {
                    border: 3px dashed #ddd;
                    min-height:80px;
                }
            }
        }
    }
}
