@mainText: #373737;
@mainColor: #ff9077;
@baseBg: #132232;
@secondary: @baseBg;
@headerHeight: 70px;
@footerHeight: auto;
@buttonHover: #9fbce1;
@teal: #238;
@crazyBS: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBSinput: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBS1: 0 1px 3px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);

@import 'tools/all.less';
//@import 'menu.less';

h1 {
    margin:100px 0 50px;
    color:@mainColor;
}
body {
    margin:0;
    padding:0;
}

.fa {
    font-size:22px;
    &.fa-trash,
    &.fa-reorder,
    //&.fa-plus,
    &.fa-pencil {
        padding:6px;
        font-size:28px;
    }
}

.mainContent {
    position:relative;
    float:left;
    margin-top:53px;
    width:100%;
}

.button1 {
    border-radius:8px;
    background:#2974a4;
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    padding:10px 16px;
    border:none;
    margin: 0px 1px;
    cursor:pointer;
    transition:200ms;
    &:hover {
        background:#28536c;
    }
    i {
        margin-right:4px;
    }
}

// Moved to land BEGIN
.boxes {
    position:relative;
    //float:left;
    overflow:hidden;
    clear:both;
    width:100%;
    color:@mainColor;
    font-weight:bold;
    margin:100px auto;
    background:white;
    z-index:5;
    &.b2 {
        >div {
            width:29%;
            min-width:180px;
            margin:10px 10%;
            float:left;
            position:relative;
            text-align:center;
            .head {
                font-size:24px;
                margin-bottom:24px;
            }
        }
        .fa-pencil {
            margin:0px 5px;
            color:#444;
        }
    }
}
// Moved to land END 
[all-edit] {
    position:fixed;
    top:70px;
    right:10px;
    z-index:11;
    right:20px;
    button {
        border-radius:30px;
        box-shadow:none;
        color:#fff;
        padding:11px 18px;
        border:none;

        font-weight:normal;
        font-size:15px;
        font-family:lato;
        letter-spacing:0.9px;
        outline:none;
        transition:200ms;
        cursor:pointer;
        background:rgba(40,126, 156, 0.9);
        &:hover {
            opacity:0.5;
        }
    }
}
.menuLogin {
    z-index:1001;
    position:fixed;
    top:70px;
    font-size:32px;
    color:white;
    right:10px;
    .fa-key {
        color: transparent;
        transition:800ms;
        font-size:56px;
        &:hover {
            color:#ccc;
        }
    }
}
.button1 {
    border-radius:8px;
    background:#2974a4;
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    padding:10px 16px;
    border:none;
    margin: 0px 1px;
    cursor:pointer;
    transition:200ms;
    &:hover {
        background:#28536c;
    }
    i {
        margin-right:4px;
    }
}
.popLogin {
    position:fixed;
    z-index:1001;
    margin:0px;
    padding:15px 0px 22px;
    top:54px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    width:100%;
    height:30px;
    text-align:center;
    label {
        margin:0px 7px;
        font-weight:bold;
        text-transform:uppercase;
        font-size:12px;
    }
    input {
        border-radius:12px;
        padding:9px;
        border:none;
    }
    .buttons {
        margin-left:6px;
        button {
            .button1;
        }
    }
}
.buttonWrap {
    width:100%;
    .addItem {
        display:inline-block;
        margin-left:8px;
        .button1;
        i {
            font-size:14px;
        }
    }
}
trix-editor {
    max-height:400px;
    overflow:auto;
    background:#fff;
    color:#000;
    line-height:20px;
    letter-spacing:0.3px;
    font-family:sans-serif;
    padding:20px;
    margin:20px;
    text-align:left;
    font-size:13px;
}
/*
.outterWrap {
    background:white;
    .zoutterWrap {
        margin:10px 0px 10px -10px;
        .labWrap {
            margin:30px 0px;
            .innerWrap {
                margin:10px;
                display:inline-block;
                font-weight:bold;
                text-transform:uppercase;
                font-size:12px;
                cursor:pointer;
            }
        }
    }
}

*/
