@mainText: #373737;
@mainColor: #ff9077;
@baseBg: #132232;
@secondary: @baseBg;
@headerHeight: 70px;
@footerHeight: auto;
@buttonHover: #9fbce1;
@teal: #238;
@crazyBS: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBSinput: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBS1: 0 1px 3px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);

h1 {
    margin:100px 0 50px;
    color:@mainColor;
}
body {
    margin:0;
    padding:0;
}

.fa {
    font-size:22px;
    &.fa-trash,
    &.fa-reorder,
    //&.fa-plus,
    &.fa-pencil {
        padding:6px;
        font-size:28px;
    }
}

.mainContent {
    position:relative;
    float:left;
    margin-top:53px;
    width:100%;
}

