<div svx-handle cms-img img-src="cms.menuImg" edt="edt" class="menuheader"></div>
<div class="textOverlay">{{locName.lab}}</div>

<!--<pop-it class="menuCatPop" resizable ng-class="edtme|checkActive"></pop-it>--!>
<div id="menusWrap">
    <div ng-if="cms.locs.length>1" class="labWrap">
        <div class="eachLab" ng-repeat="(idx, loc) in cms.locs">
            <button class="restButton" ng-click="setProdIdx(idx, loc)">{{loc.lab}}</button>
        </div>
    </div>

    <h1>
        MENU
        <!--
        <button class="coolButton edit" ng-if="edt" ng-click="addCat(prodIdx)">
            <i class="fa fa-plus"></i>
            <span> Category</span>
        </button>
        --!>
    </h1>

    <div class="zoutterWrap">
        <div class="labWrap" cont-el-menu>
            <div cms-menu-cat cont="cms.locs[prodIdx].cat" edt="edt" nav="nav" prod-idx="prodIdx" cb="saveCms(arg)"></div>
        </div>

        <div class="menuCat" Zcont-el-menu>
            <!--<div class="menuWrap" ng-repeat="(k, item) in cms.locs[prodIdx].cat[nav.catIdx].items">--!>
            <!--<div cms-menu-item cont="item" edt="edt" cb="saveCms(arg)" idx="{{k}}" cms-data="cms.locs[prodIdx].cat[nav.catIdx].items"></div>--!>
            <div cms-menu-item edt="edt" cb="saveCms(arg)" cont="cms.locs[prodIdx].cat[nav.catIdx].items"></div>
        </div>
    </div>
</div>
