<div class="inputWrap"> 
    <label>Name</label>
    <input ng-model="content.name"></input>
</div>
<div class="inputWrap"> 
    <label>Price</label>
    <input ng-model="content.price"></input>
</div>
<div class="inputWrap"> 
    <label>Description</label>
    <textarea ng-model="content.descr"></textarea>
</div>

<div class="buttonWrap">
    <button class="coolButton edit" ng-click="cb({arg: saveResp})"><i class="fa fa-check"></i><span>Save</span></button>
    <button class="coolButton edit" ng-click="delItem()"><i class="fa fa-close"></i><span>Delete</span></button>
</div>
