<div ng-repeat="(i, content) in cont" class="menuWrap">
    <i class="fa fa-pencil" ng-click="pencilClick(i, content);" ng-if="edt"></i>
    <div class="name">{{content.name}}</div>
    <span class="bullet">•</span>
    <div class="price">{{content.price}}</div>
    <div class="descr">{{content.descr}}</div>
    <!--
    <div cms-text="dish" cont="item.name"   edt="edt" class="name"></div>
    <span class="bullet">•</span>
    <div cms-text="price" cont="item.price"  edt="edt" class="price"></div>
    <div cms-text="is vegitarian"  cont="item.hippie" edt="edt" class="hippie"></div>
    <div cms-text="description" cont="item.descr"  edt="edt" class="descr"></div>
    <div ng-if="hasImg" cms-img img-src="item.img" edt="edt"></div>
    --!>
</div>
<div class="buttonWrap">
    <button class="coolButton edit" ng-if="edt" ng-click="addItem()">
        <i class="fa fa-plus"></i>
        <span> Item </span>
    </button>
    <button class="coolButton edit" ng-if="edt" ng-click="reorder(cont)">
        <i class="fa fa-reorder"></i><span>Reorder</span>
    </button>
</div>
