<div>
    <div class="eachCat" ng-repeat="(catIdx, cat) in cont" ng-click="nav.catIdx = catIdx" ng-class="nav.catIdx==catIdx|checkActive">
        {{cat.lab}}
    </div>
    <i class="fa fa-pencil editOnly" ng-click="pencilClick()" ng-if="edt"></i>
</div>

