<div class="popCont">
    <div ng-if="!inReorder">
        <label>Category</label>
        <div ng-repeat="(catIdx, cat) in cont" class="catRow">
            <input type="text" ng-show="edt&&edtme" ng-model="cat.lab" placeholder="Category"></input>
            <i class="fa fa-trash" ng-click="delCat(catIdx)"></i>
        </div>
    </div>

    <div ng-if="inReorder" sv-handle>
        <div sv-root sv-part="cont">
            <button ng-repeat="(catIdx, cat) in cont" class="reorder" sv-element="opts">
                {{cat.lab}}
            </button>
        </div>
    </div>
    <div class="buttonWrap">
        <button ng-if="!inReorder" class="coolButton edit" ng-click="cb({arg:saveCat})"><i class="fa fa-check"></i><span>Save</span></button>
        <button ng-if="!inReorder" class="coolButton edit" ng-if="edt" ng-click="addCat(prodIdx)"><i class="fa fa-plus"></i><span> Add</span></button>
        <button class="coolButton edit" ng-click="inReorder=!inReorder; saveReorder()"><i class="fa {{inReorder ? 'fa-check' : 'fa-bars'}}"></i><span>{{inReorder ? 'Save Order' : 'Reorder'}}</span></button>
        <button ng-show="inReorder" class="coolButton edit" ng-click="inReorder=!inReorder"><i class="fa fa-arrow-circle-left"></i><span>Back</span></button>
    </div>
</div>
