<div ng-view class="mainContent"></div>
<div class="menuLogin" ng-if="nav.https">
    <i class="fa fa-key" ng-click="popLogin()"></i>
    <div all-edit ng-if="auth.loggedIn && !nav.showMenus">
        <button ng-if="!edt || !nav.hideSave" ng-click="doEdit();">{{edt ? 'SAVE': 'EDIT'}}</button>
        <button ng-show="edt" ng-click="doEdit(true);">USER VIEW</button>
        <button ng-click="logout(true);">LOGOUT</button>
    </div>
</div>
<div login-pop></div>
<div options></div>
