<!--Depr
<button ng-show="false" ng-click="detailItem(lKey)" class='del'>
    <i class="fa fa-info fa-stack-4x"></i>
</button>
--!>
<button ng-click="delConfirm(lKey)" class='del' ng-show="checkBtn('del', lKey)">
    <i class="fa fa-remove fa-stack-4x"></i>
</button>
<button ng-click="delItem(lKey)" class="trash" ng-show="delArray[lKey]">
    <i class="fa fa-trash fa-stack-4x"></i>
</button>
<button ng-click="saveItem(lKey)" ng-show="saveArray[lKey]">
    <i class="fa fa-check fa-stack-4x"></i>
</button>
