<div class="listHeader">
    <h2 ng-hide="fieldManager">
        {{label}}
        <span class="manage" ng-show="perPage">
            <i class="fa fa-hand-o-up"></i>Manage Fields 
            <div class="fields" >
                <button class="field" ng-repeat="(k,v) in listHeaders" ng-click="v.vis = !v.vis; selectField(v.dbName, v.vis);" ng-class="v.vis==false|checkInactive">{{v.name}}</button>
            </div>
        </span>

        <div class="notify" ng-hide="msg==''">
            <span class="del" ng-show="delArray.length>0"> {{msg}} </span>
            <span ng-hide="delArray.length>0"> {{msg}} </span>
        </div>
    </h2>
</div>

<div ng-show="perPage" class="listContent">
    <div class="headersWrap row">
        <label ng-repeat="(k,v) in listHeaders" ng-class="v.cls" ng-show="v.vis">
            <i class="fa fa-search" ng-click="searchOn=!searchOn; searchVal=''; setSearch(k, searchOn);" ng-class="searchOn|checkActive"></i>
            <input type="text" ng-show="searchOn" ng-model="searchVal" ng-change="runSearch(searchVal)"></input>
            <span ng-click="sortDir=!sortDir; sortBy(k,sortDir);">{{v.name}}</span>
        </label>
        <button class="addRow" ng-hide="noAdd" ng-click="add()" ng-class="newRow|checkActive"> 
            <i class="fa fa-plus-square fa-stack-4x"></i>
        </button>
        <button ng-show="allDiffs" ng-click="addMulti()"> 
            <i class="fa fa-check fa-stack-4x"></i>
        </button>
    </div>

    <div ng-repeat="(lKey, v) in listData" class="row">
        <span ng-repeat="(ii,f) in listHeaders">
            <input ng-if="f.type=='text'"     class="{{f.cls}}"     type="text"     ng-model="listData[lKey][f.dbName]" ng-change="isDiff(lKey, f.dbName);" ng-hide="hidden.indexOf(f.dbName)!=-1"></input>
            <input ng-if="f.type=='readonly'" class="huge" readonly type="text"     ng-model="listData[lKey][f.dbName]" ng-change="isDiff(lKey, ii);" ng-hide="hidden.indexOf(f.dbName)!=-1"></input>
            <input ng-if="f.type=='checkbox'"                       type="checkbox" ng-model="listData[lKey][f.dbName]" ng-change="isDiff(lKey, ii);" ng-hide="hidden.indexOf(f.dbName)!=-1"></input>
            <!--<div class="autoComplete" ng-if="f.type=='select'" ng-hide="hidden.indexOf(f.dbName)!=-1"></div>--!>
            <!--
            <select ng-if="f.type=='select'" class="{{f.cls}}" ng-model="listData[lKey][f.dbName]"
                my-val="{{listData[lKey][f.dbName]}}"
                my-key="{{lKey}}"
                my-name="{{f.dbName}}"
                ng-options="sel.idx as sel.name for sel in listSels[f.dbName]"
                ng-change="isDiff(lKey, ii);" ng-hide="hidden.indexOf(f.dbName)!=-1" />
            </select>
            --!>

            <select ng-if="f.type=='select'" class="{{f.cls}}" ng-model="listData[lKey][f.dbName]"
                ng-change="isDiff(lKey, ii);" ng-hide="hidden.indexOf(f.dbName)!=-1" />
                <option ng-repeat="i in listSels[f.dbName]" value="{{i.idx}}">{{i.name}}</option>
            </select>
        </span>
        <list-buttons></list-buttons>
    </div>
</div>

<div class="pager">
    <div ng-show="perPage && totPages>1" class="pageList">
        <button>
            <i class="fa fa-hand-o-up"></i>Page {{currPage}} of {{totPages}}
        </button>
        <div class="pagesPopUp">
            <button ng-click="toPage(pg)" ng-repeat="pg in pgList">{{pg}}</button>
        </div>
    </div>

    <span>Rows per page:</span>
    <button ng-click="perPage=0;" ng-class="perPage==0|checkActive">none</button>
    <button ng-click="perPage=5; setPage()"  ng-class="perPage==5|checkActive">5</button>
    <button ng-click="perPage=10; setPage()" ng-class="perPage==10|checkActive" ng-show="rowCount>5">10</button>
    <button ng-click="perPage=15; setPage()" ng-class="perPage==15|checkActive" ng-show="rowCount>10">15</button>
    <button ng-click="perPage=20; setPage()" ng-class="perPage==20|checkActive" ng-show="rowCount>15">20</button>
    <button ng-click="perPage=30; setPage()" ng-class="perPage==30|checkActive" ng-show="rowCount>20">30</button>

    <i ng-class="loading" class="fa fa-refresh" ng-click="refresh()"></i>

    <button ng-show="perPage && totPages>1" class="upDown" ng-click="setPage('up')"><i class="fa fa-arrow-up"></i>up</button>
    <button ng-show="perPage && totPages>1" class="upDown" ng-click="setPage('down')"><i class="fa fa-arrow-down"></i>down</button>
</div>
