<div class="box">
    <div class="clear">
        Table Name: <input type="text" ng-model="tabName"></input>
        <button ng-click="loadTab()">RELOAD</button>
        NEW Table Name: <input type="text" ng-model="newTabName" placeholder="new table name"></input>
        <button ng-click="createTab()">CREATE TABLE</button>
        <button ng-click="dropTab()">DROP TABLE</button>
    </div>

    <div class="clear box">
        <div lst item-list="tabDef" lst-cb="stockAction(typ, item)" sel="sel" filt cols="[
            ['name', 'Name', 'med'],
            ['type', 'Type', 'big'],
            ['radix', 'Radix', 'num'],
            ['scale', 'Scale' , 'num'],
            ['chars', 'Chars', 'name']
        ]"></div>
    </div>


    <!--
    <ul class="dbhead" ng-repeat="(cKey, col) in tabDef[0]">
        <li class="{{cKey}}"> {{cKey}} </li>
    </ul>
    <ul class="dbadmin" ng-repeat="col in tabDef">
        <li class="{{cKey}}" ng-repeat="(cKey, fld) in col">
            {{fld}}
        </li>
        <li><button ng-click="dropCol(col.name)">DROP</button></li>
    </ul>

    <div class="clear">
        <ul class="dbhead" ng-repeat="(cKey, col) in tabDef[0]">
            <li ng-if="cKey!='chars'" class="{{cKey}}"> {{cKey}} </li>
        </ul>
    </div>
    <div class="clear">
        <ul class="dbhead" ng-repeat="(cKey, col) in tabDef[0]">
            <li ng-if="cKey!='chars'" class="{{cKey}}"> <input ng-model="newCol[cKey]"></input></li>
        </ul>
        <button ng-click="addCol()">Add Column</button>
    </div>
    -->
</div>
