<div id="main-footer">
    <!--
    <div class="linkContainer" ng-init="linkHeads=['LOLA ROSA', 'RESTOS', 'CONTACTEZ-NOUS', 'RÉSEAUX SOCIAUX']">
        <div class="anotherContainer">
            <div class="linkWrap" Xsv-root Xsv-part="cms.links[idx]" ng-repeat="(idx, label) in linkHeads">
                <div class="linkHead">{{label}}</div>
                <div ng-repeat="(i,l) in cms.links[idx]" Xsv-element>
                    <div cms-link="{{idx}}:{{i}}" cont="l" edt="edt" lab="Link Url"  cb="delLink(idxA);"></div>
                </div>

                <button class="addLink" ng-if="edt" ng-click="addOne('links',idx)">
                    <i class="fa fa-plus"></i>
                    Link
                </button>
            </div>
        </div>
    </div>
    
    <div class="linkContainer" ng-init="linkHeads=['LOLA ROSA', 'RESTOS', 'CONTACTEZ-NOUS', 'RÉSEAUX SOCIAUX']">
        <div class="anotherContainer">
            <div class="linkWrap" ng-repeat="(idx, label) in linkHeads">
                <div class="linkHead">{{label}} {{idx}}</div>
                <div ng-repeat="(i, cont) in cms.links">
                    <div cms-link-section cont="cont" cb="cb" edt="edt"></div>
                </div>
            </div>
        </div>
    </div>
    --!>
    
    <div class="linkContainer">
        <div ng-repeat="(i, cont) in cms.links" cms-link-section cont="cont" cb="saveCms(arg)" edt="edt"></div>
    </div>

    <div class="subFooter">
        © 2017 LOLA ROSA
    </div>
</div>
