<ul class="labs">
    <li class="lab">{{lab}}</li>
    <li ng-repeat="(i, col) in cols" class="{{col[2]}} {{col[3]}}" ng-class="sortColName==col[0]|checkActive" ng-click="sortCol(col)">
        {{col[1]}}
        <i class="fa" ng-class="sortO[col[0]] ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
    </li>
</ul>
<ul class="filters" ng-if="hasAdd">
    <li ng-if="col[2] && filterOn" ng-repeat="(i, col) in cols" class="{{col[2]}}" title="sort" ng-class="col[3]">
        <input ng-model="searchItems[col[0]]" ng-change="searchCol()"></input>
    </li>
    <div class="filterButtons">
        <!--
        <button class="andOr" ng-click="andOr()">{{isAnd ? 'AND' : 'OR'}}</button>
        -->
        <button ng-click="filterOn=!filterOn">Search {{filterOn ? 'On' : 'Off'}}</button>
        <button ng-if="filterOn" ng-click="clearSearch()">Clear Search</button>
    </div>
    <div ng-if="true" class="filterButtons">
    </div>
</ul>
<div class="content {{dataClass}}">
    <ul ng-repeat="(idx, item) in iList" class="{{item.class}}" ng-click="editItem(item); listNav.selRow=idx;" ng-class="listNav.selRow==idx|checkActive">
        <li ng-if="col[2]" ng-repeat="(i, col) in cols" class="{{col[2]}}" ng-class="col[3]">
            {{item[col[0]]}}
        </li>
        <li ng-if="config.delIcon"class="fa"><i class="fa fa-{{delIcon}}"   ng-click="delItem(item, $event)"></i></li>
    </ul>
</div>
