<div id="menu">
    <ul>
        <a href="#settings" ng-click="selectedTab='settings'">
            <li ng-class="selectedTab=='settings'|checkActive">
                <i class="fa fa-cog"></i>
                <span class="wide">Settings</span>
            </li>
        </a>
        <a href="#login" ng-click="selectedTab='login'">
            <li ng-class="selectedTab=='settings'|checkActive">
                <i class="fa fa-door"></i>
                <span class="wide">login</span>
            </li>
        </a>
    </ul>
</div>
