<div id="notifier" ng-class="notifActive|checkActive">
    <div class="awesomeBox" ng-class="iconType" ng-click="notifActive=false">
        <i class="fa fa-{{iconType}}"></i>
    </div>
    <span class="notifMsg" ng-click="notifActive=false">
        {{msg}}
    </span>

    <span class="confirmWrap" ng-show="confirmOption">
        <span class="yesButton" ng-click="confirmResp(true)">Yes</span>
        <span class="noButton"  ng-click="confirmResp(false)">No</span>
    </span>
</div>
