<div>
    <h1><i class="fa fa-gear" ng-click="showConfig=!showConfig"></i></h1>
    <ul ng-class="showConfig|checkActive">
        <li>
            Charts: <input type="checkbox" ng-model="config.showCharts"></input>
        </li>
        <li>
            Letters: <input type="checkbox" ng-model="config.letters"></input>
        </li>
    </ul>
</div>
