<div class="pager">
    <ul>
        <span ng-if="pages.length>1">
            <li ng-click="setPg(nav.currPage-1)"><button><i class="fa fa-arrow-left"></i></button></li>
            <li ng-repeat="pg in pages">
                <button ng-click="setPg(pg)" ng-class="pg==nav.currPage|checkActive">{{pg}}</button>
            </li>
            <li ng-click="setPg(nav.currPage+1)"><button><i class="fa fa-arrow-right"></i></button></li>
        </span>
        <span ng-if="pages.length==1">
            <li>
                ALL ITEMS 
            </li>
        </span>
        <li class="perPage">Per Page: <select type="text" ng-options="sel for sel in nav.pgrSelections" ng-model="nav.perPage" ng-change="setPg()"></select></li>
    </ul>
</div>
