<div ng-if="auth.pop" class="popLogin" ng-init="viewPass=false">
    <label>Login</label> 
    <input type="text" ng-model="auth.login"></input>
    <label>Password</label>
    <input ng-show="nav.viewPass" type="text" ng-model="auth.passwd"></input>
    <input ng-show="!nav.viewPass" type="password" ng-model="auth.passwd"></input>
    <span ng-if="!auth.loginNotFound" span class="buttons">
        <button ng-click="nav.viewPass=!nav.viewPass">View Password</button>
        <button ng-click="sendLogin()">Login</button>
    </span>
    <span ng-if="auth.loginNotFound">
        <label>Email</label> 
        <input type="text" ng-model="auth.email"></input>
        <span class="buttons">
            <button ng-click="register()">Register</button>
        </span>
    </span>
</div>
