<div sv-handle>
    <div sv-root sv-part="orderList">
        <button ng-if="handle"  class="menuWrap" ng-repeat="(k, item) in orderList" sv-element="opts">
            {{item[handle]}}
        </button>
        <button ng-if="!handle"  class="menuWrap" ng-repeat="(k, item) in orderList" sv-element="opts">
            {{item}}
        </button>
    </div>
    <button class="coolButton edit" ng-click="save()" class="save"><i class="fa fa-check"></i><span>Save Order<span></button>
</div>
