<div class="chartWrap" ng-class="loading|checkActive" ng-init="showChart=true">
    <div>
    <div class="chartHeader">
        <span class="buttonWrap" ng-hide="noRefresh">
            <i class="fa" ng-class="playClass" ng-click="playStart(true)"></i>
        </span>
        <span class="one">{{quickTitle[0]}}</span>
        <span class="two">{{quickTitle[1]}}</span>
        <span class="three">{{quickTitle[2]}}</span>
        <span class="four">{{quickTitle[3]}}</span>
        <span ng-show="showChart"><i class="fa fa-arrow-up" ng-click="showChart=false"></i></span>
        <span ng-hide="showChart"><i class="fa fa-arrow-down" ng-click="showChart=true"></i></span>
    </div>
    <div class="options">
        <span class="wrapTheRest">
            <span ng-hide="noRefresh">
                <label>{{'Refresh'|fheads}}:</label>
                <select ng-model="loop" ng-change="playStart(false);">
                    <option ng-repeat="i in [2,3,5,8,10,15,30,60,300]">{{i}}</option>
                </select>
                <label>{{'seconds'|fheads}}</label>
            </span>
            <div class="time" ng-hide="noTime">
                <label>From:</label>
                <input ng-model="tmFrom" ng-change="playStart(false);">
                <label>To:</label>
                <input ng-model="tmTo" ng-change="playStart(false);">
            </div>
            <span ng-if="!noType">
                <label>Type:</label>
                <select ng-model="cType" ng-change="chartChange(false);">
                    <option ng-repeat="i in selOpts">{{i}}</option>
                </select>
            </span>
            <div class="time"  ng-hide="noMins">
                <label>Last:</label>
                <select ng-init="minsBack=60" ng-model="minsBack" ng-change="playStart(false);">
                    <option ng-repeat="i in [5,10,30,60,90,120,180]">{{i}}</option>
                </select>
                <label>minutes</label>
            </div>
        </span>
    </div>

    <chart ng-class="showChart|checkActive"></chart>

    <div ng-hide="noComp">
        <label>Comparative:</label>
        <input type="checkBox" ng-model="isComp" ng-change="playStart(false)" />
    </div>
    <div ng-hide="noUniq">
        <label>Unique:</label>
        <input type="checkBox" ng-model="isUniq" ng-change="playStart(false)" />
   </div>
</div>
