<div class="newFile" ng-class="errMsg|checkActive">
    <div ngf-drop ngf-select ng-model="files" ngf-max-size="1GB" ngf-max-total-size="1GB"  ngf-multiple="true" ng-change="change(true)" class="actualUploader">
        <span ng-hide="fileList.length>0 || uploading" class="upMsg">
            {{upMsg}}
        </span>
        <span ng-repeat="file in fileList" class="upFileList">
            {{file}}
        </span>
        <div class="uploading" ng-show="uploading">
            <div class="fileUpMsg" ng-repeat="(fileName, prct) in msgList">
                {{fileName}} is {{prct}}% done
                <i class="fa fa-check" ng-show="prct==100"></i>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show="prct!=100"></i>
            </div>
        </div>
    </div>
    <div class="buttonWrap" ng-show="fileList.length>0 || done">
        <button class="fileUp saveButton" ng-click="submit()" ng-show="!done || errMsg"><!--<i class="fa fa-check"></i>--!>Upload</i>
        <button class="fileUp saveButton" ng-click="clear()" ng-show="!done || errMsg"><!--<i class="fa fa-ban"></i>--!>Clear</i>

        <button class="fileUp saveButton" ng-click="clear()" ng-show="done && !errMsg"><!--<i class="fa fa-thumbs-up"></i>--!>Cool</i>
    </div>
</div>
